<div class="sest-flex-row">
	<div class="sest-flex-column sest-small-border sest-p-1 sest-mx-2 sest-flex-item-equal">
		<h3 class="sest-border-title">Tipo de Poço:</h3>
		<mat-radio-group class="sest-flex-row sest-center" [(ngModel)]="wellType">
			<div class="sest-p-2 sest-mx-2 sest-flex-row sest-center">
				<mat-radio-button value="OffShore">
					Marítimo
				</mat-radio-button>
				<mat-icon color="primary" class="sest-center sest-medium-icon sest-ml-1 sest-clickable"
					[matMenuTriggerFor]="imgOffShore">
					info
				</mat-icon>
				<mat-menu #imgOffShore="matMenu" overlapTrigger class="image-panel-width">
					<img [src]="offshoreUrl" class="w-image">
				</mat-menu>
			</div>
			<div class="sest-p-2 sest-mx-2 sest-flex-row sest-center">
				<mat-radio-button value="OnShore">
					Terrestre
				</mat-radio-button>
				<mat-icon color="primary" class="sest-center sest-medium-icon sest-ml-1 sest-clickable"
					[matMenuTriggerFor]="imgOnShore">
					info
				</mat-icon>
				<mat-menu #imgOnShore="matMenu" overlapTrigger class="image-panel-width">
					<img [src]="onshoreUrl" class="w-image">
				</mat-menu>
			</div>
		</mat-radio-group>
	</div>

	<div class="sest-flex-column sest-small-border sest-p-1 sest-mx-2 sest-flex-item-equal">
		<h3 class="sest-border-title">Coordenadas:</h3>
		<div class="sest-flex-row sest-my-2">
			<div class="sest-small-border sest-p-1 sest-mx-2 sest-flex-column sest-flex-1">
				<h3 class="sest-border-title">UTM X:</h3>
				<input class="sest-border-0 sest-py-2 sest-px-1 sest-w-100" [(ngModel)]="utmX"
					(keypress)="onKeyPress($event, utmX)">
			</div>
			<div class="sest-small-border sest-p-1 sest-mx-2 sest-flex-column sest-flex-1">
				<h3 class="sest-border-title">UTM Y:</h3>
				<input class="sest-border-0 sest-py-2 sest-px-1 sest-w-100" [(ngModel)]="utmY"
					(keypress)="onKeyPress($event, utmY)">
			</div>
		</div>
	</div>
</div>

<div class="sest-flex-row">
	<div class="sest-flex-column sest-flex-item-equal sest-mx-2">
		<div class="sest-small-border sest-p-1 sest-mt-3 sest-flex-column">
			<h3 class="sest-border-title">Mesa Rotativa:</h3>
			<div class="sest-flex-row">
				<input class="sest-border-0 sest-py-2 sest-px-1 sest-flex-1 w-medium" [(ngModel)]="rotaryTable"
					(keypress)="onKeyPress($event, rotaryTable)">
				<span class="sest-light-opacity">metros</span>
			</div>
		</div>
		<div *ngIf="wellType === 'OnShore'" class="sest-small-border sest-p-1 sest-mt-3 sest-flex-column">
			<h3 class="sest-border-title">Cabeça de poço:</h3>
			<div class="sest-flex-row">
				<input class="sest-border-0 sest-py-2 sest-px-1 sest-flex-1 w-medium" [(ngModel)]="forefootHeight"
					(keypress)="onKeyPress($event, forefootHeight)">
				<span class="sest-light-opacity">metros</span>
			</div>
		</div>
	</div>

	<div class="sest-flex-column sest-flex-item-equal sest-mx-2">
		<div class="sest-small-border sest-p-1 sest-mt-3 sest-flex-column">
			<h3 class="sest-border-title">Lâmina d´água:</h3>
			<div class="sest-flex-row">
				<input class="sest-border-0 sest-py-2 sest-px-1 sest-flex-1 w-medium" [(ngModel)]="waterBlade"
					(keypress)="onKeyPress($event, waterBlade)">
				<span class="sest-light-opacity">metros</span>
			</div>
		</div>
		<div *ngIf="wellType === 'OnShore'" class="sest-small-border sest-p-1 sest-mt-3 sest-flex-column">
			<h3 class="sest-border-title">Lençol freático:</h3>
			<div class="sest-flex-row">
				<input class="sest-border-0 sest-py-2 sest-px-1 sest-flex-1 w-medium" [(ngModel)]="groundwater"
					(keypress)="onKeyPress($event, groundwater)">
				<span class="sest-light-opacity">metros</span>
			</div>
		</div>
	</div>

	<div class="sest-flex-column sest-flex-item-equal sest-mx-2">
		<div class="sest-small-border sest-mt-3 sest-py-2 sest-flex-colum sest-align-center">
			Poço Vertical
			<mat-slide-toggle [(ngModel)]="deepVertical" class="sest-light-gray sest-mx-2 sest-py-1">
			</mat-slide-toggle>
		</div>
		<div *ngIf="wellType === 'OnShore'" class="sest-small-border sest-p-1 sest-mt-3 sest-flex-column">
			<h3 class="sest-border-title">Elevação:</h3>
			<div class="sest-flex-row">
				<input class="sest-border-0 sest-py-2 sest-px-1 sest-flex-1 w-medium" [(ngModel)]="elevation"
					(keypress)="onKeyPress($event, elevation)">
				<span class="sest-light-opacity">metros</span>
			</div>
		</div>
	</div>

	<div class="sest-flex-column sest-flex-item-equal sest-mx-2">
		<div *ngIf="deepVertical" class="sest-small-border sest-mt-3 sest-p-1 sest-flex-column">
			<h3 class="sest-border-title">PM Final:</h3>
			<div class="sest-flex-row">
				<input class="sest-border-0 sest-py-2 sest-px-1 sest-flex-1 w-medium" [(ngModel)]="deepVerticalValue"
					(keypress)="onKeyPress($event, deepVerticalValue)">
				<span class="sest-light-opacity">metros</span>
			</div>
		</div>
	</div>
</div>