<div class="well-type-container">
  <mat-radio-group>
    <div class="sest-flex-column sest-small-border sest-p-1 sest-mb-3 sest-mt-1 well-type" *ngFor="let wellType of wells">
      <h3 class="sest-border-title {{wellType.type}}">{{wellType.type}}</h3>
      <div class="well-type-entries" [class.empty]="wellType.entries.length === 0">
        <mat-radio-button *ngFor="let well of wellType.entries" [value]="well" (change)="change(well)" class="sest-mx-2">
          {{ well.nome }}
        </mat-radio-button>
        <span *ngIf="wellType.entries.length === 0">Nenhum poço de {{wellType.type.toLowerCase()}} encontrado no arquivo.</span>
      </div>
    </div>
  </mat-radio-group>
</div>