<div mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragBoundary=".mat-typography" cdkDragHandle
    class="sest-dialog-title sest-flex-row">
    <div class="sest-flex-0">
        <img src="assets/images/icons/perfuracao.png" width="30">
    </div>
    <div class="sest-flex-1 sest-mx-3">
        Eventos de Perfuração
    </div>
</div>

<mat-dialog-content class="page-events">
    <mat-tab-group fxFlexFill (selectedIndexChange)="tabIndex = $event">
        <mat-tab label="Eventos de Perfuração">
        </mat-tab>
        <mat-tab label="Marcadores">
            <sest-markers class="sest-h-auto sest-w-100 sest-py-3 sest-px-2" [marcadores]="marcadores"
                [tipo]="'Evento'">
            </sest-markers>
        </mat-tab>
    </mat-tab-group>
    <div [hidden]="tabIndex !== 0" class="sest-small-border sest-py-3 sest-px-2">
        <div class="sest-p-1 sest-mt-2 sest-flex-column sest-flex-1 sest-small-border">
            <hot-table #table [options]="baseOptions" [data]="trechos" [colHeaders]="baseColHeaders"
                [columns]="baseColumnsTypes"></hot-table>
        </div>
    </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-stroked-button class="sest-light-gray" (click)="closeModal()">
        Cancelar
    </button>
    <div class="sest-flex-1 sest-px-1"></div>
    <button mat-stroked-button color="primary" (click)="submit()" [disabled]="!isValid || loading">
        Salvar
    </button>
</mat-dialog-actions>