<mat-accordion class="mat-accordion" #accordion="matAccordion" [displayMode]="displayMode" multi="false">

  <mat-expansion-panel *ngFor="let file of openFiles" [expanded]="first"
    class="mat-elevation-z0 {{file['tipoPoço']}} mat-expansion-panel" #mapanel="matExpansionPanel">
    <mat-expansion-panel-header class="mat-expansion-panel-header" [collapsedHeight]="'38px'" [expandedHeight]="'38px'">
      <h3 class="mat-display-2">
        <mat-icon class="iconCaso" fontSet="fas" fontIcon="fa-file-alt"></mat-icon>
        {{file.nome}}
      </h3>
      <span class="sest-toolbar-brand-text sest-gray-400 mat-button-wrapper" i18n>
        <a mat-icon-button [matMenuTriggerFor]="menu" [matMenuTriggerData]="{case: file.id}">
          <mat-icon class="toggle-icon">settings</mat-icon>
        </a>
      </span>
      <span class="sest-toolbar-brand-text sest-gray-400 mat-button-wrapper" i18n *ngIf="file.id !== indexCase">
        <a mat-icon-button (click)="openDialogRemoveCase(file.id)">
          <mat-icon class="toggle-icon">close</mat-icon>
        </a>
      </span>
    </mat-expansion-panel-header>
    <sest-node-tree [caseId]="file.id"></sest-node-tree>
  </mat-expansion-panel>

</mat-accordion>

<mat-menu #menu="matMenu" class="menu">
  <ng-template matMenuContent let-case="case">
    <button mat-menu-item (click)="openDialogEditData(case)">
      <mat-icon fontSet="far" fontIcon="fa-edit"></mat-icon>Edição de dados
    </button>
    <button mat-menu-item (click)="openDialogInitData(case)" *ngIf="case === indexCase">
      <mat-icon fontSet="far" fontIcon="fa-edit"></mat-icon>Tratamento inicial de dados
    </button>
  </ng-template>
</mat-menu>