@import "~sass/essential";

.chart-size {
    max-width: 220px;
    min-width: 220px;
    width: 220px;
}

.charts-size {
    min-width: 510px;
    max-width: 510px;
}

.sest-w-400 {
    min-width: 400px;
}

.sest-dialog-bottom {
    background-color: $project;
    padding: 3px;
    &:hover {
        cursor: move;
    }
  }