<div mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragBoundary=".mat-typography" cdkDragHandle
    class="sest-dialog-title sest-flex-row">
    <div class="sest-flex-0">
        <img src="assets/images/icons/composicao.png" width="32">
    </div>
    <div class="sest-flex-1 sest-mx-3">
        Composição de Perfis
    </div>
</div>

<mat-dialog-content class="page-profile-composition">
    <div class="sest-flex-row">
        <div class="sest-flex-column sest-mt-1 sest-flex-1 sest-w-400">
            <div class="sest-flex-row">
                <div class="sest-p-1 sest-mb-1 sest-flex-column sest-flex-1 sest-small-border">
                    <h3 class="sest-border-title">Tipo de curva:</h3>
                    <mat-select class="sest-px-1 sest-py-1" [(ngModel)]="tipoSelecionado" (ngModelChange)="mudouTipo()">
                        <mat-option *ngFor="let el of tipoCurvas" [value]="el">
                            {{el}}
                        </mat-option>
                    </mat-select>
                </div>
            </div>

            <div class="sest-flex-row">
                <div class="sest-small-border sest-p-1 sest-my-2 sest-flex-1 sest-flex-column"
                    [ngClass]="{'sest-input-error': nome.tooltip.length > 0 }" [matTooltip]="nome.tooltip"
                    matTooltipClass="background-red">
                    <h3 class="sest-border-title">Nome:</h3>
                    <input class="sest-border-0 sest-py-1 sest-px-1" [(ngModel)]="nome.value">
                </div>
            </div>

            <div class="sest-flex-row">
                <div class="sest-px-3 sest-py-1 sest-my-1 sest-flex-column sest-flex-1 sest-small-border">
                    <mat-slide-toggle [(ngModel)]="allCurves" class="sest-light-gray sest-mx-3 sest-px-3 sest-py-1"
                        (ngModelChange)="mudouTipo()">
                        Curvas de todos os casos
                    </mat-slide-toggle>
                </div>
            </div>

            <div class="sest-flex-row">
                <div class="sest-p-1 sest-mt-2 sest-flex-column sest-flex-1 sest-small-border sest-h-400">
                    <hot-table #table [options]="baseOptions" [data]="baseDataset" [colHeaders]="baseColHeaders"
                        [columns]="baseColumnsTypes"></hot-table>
                </div>
            </div>
        </div>

        <div class="sest-flex-row sest-flex-1 sest-mt-1 sest-mx-2 sest-small-border sest-scroll charts-size">
            <div *ngFor="let perfil of perfisAtuais; let first = first">
                <app-composition-chart [perfil]="perfil" [trechos]="trechos[perfil.id]" [pmRange]="pmRange"
                    [todosPocos]="allCurves" (trecho)="adicionaLinha(perfil,$event)" [profundidade]="first">
                </app-composition-chart>
            </div>
        </div>

        <div class="sest-flex-1 sest-mt-1 sest-small-border">
            <div>
                <mat-card class="mat-elevation-z0">
                    <mat-card-content fxLayoutAlign="center">
                        <div class="sest-flex-column sest-align-center">
                            <div *ngIf="allCurves">{{currCase.nome}}</div>
                            <div class="sest-flex-row">
                                {{nome.value}}
                                <span *ngIf="unidadePadrao">
                                    &nbsp; ({{unidadePadrao}})
                                </span>
                            </div>
                            <highcharts-chart class="chart-size" #canvas [Highcharts]="Highcharts"
                                [options]="plotOptions">
                            </highcharts-chart>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-stroked-button mat-dialog-close class="sest-light-gray" (click)="closeModal()">
        Fechar
    </button>
    <div class="sest-flex-1 sest-px-1"></div>
    <button mat-stroked-button color="primary" (click)="submit()" [disabled]="!isValid || loading">
        Salvar
    </button>
</mat-dialog-actions>
<div class="sest-dialog-bottom sest-flex-row" cdkDrag cdkDragRootElement=".cdk-overlay-pane"
    cdkDragBoundary=".mat-typography" cdkDragHandle></div>