@import "~sass/essential";

.maxWidth-420 {
    max-width: 420px;
}

.maxHeight-450 {
    max-height: 450px;
}

.handsontable .wtHolder {
    width: auto !important;
}

.page-tensions-calculation {
    max-height: 67vh !important;
    .mat-dialog-content {
        max-height: 67vh !important;
    }
}

.highcharts-title {
    font-size: 10px;
}
