<div class="create-menu" *ngIf="depth > 1">

  <button mat-raised-button color="primary" class="icon-arrow" [mat-menu-trigger-for]="userDetailsMenu">Criar &nbsp;
    <mat-icon fontSet="fa" fontIcon="fa-sort-down"></mat-icon>
  </button>

  <mat-menu #userDetailsMenu="matMenu" classList="sest-menu-user-margin">
    <mat-nav-list class="sest-user-menu-list">
      <!-- <a mat-list-item (click)="dialog.openDialogCreate(0)">
          <mat-icon fontSet="fa" fontIcon="fa-folder" color="warn"></mat-icon>
          <span i18n>Unidade Operacional</span>
        </a>
        <a mat-list-item (click)="dialog.openDialogCreate(1)">
            <mat-icon fontSet="fa" fontIcon="fa-cube" color="warn"></mat-icon>
          <span i18n>Campo</span>
        </a> -->
      <a mat-list-item *ngIf="depth === 2" (click)="openDialogCreateWell(nav.navStack[1].id)">
        <mat-icon fontSet="fa" fontIcon="fa-tint" color="warn"></mat-icon>
        <span i18n>Poço</span>
      </a>
      <!-- <mat-divider></mat-divider> -->
      <a mat-list-item *ngIf="depth === 3" (click)="openDialogCreateCase(0, nav.navStack[2].id)">
        <mat-icon fontSet="fa" fontIcon="fa-file" class="sesttr_project"></mat-icon>
        <span i18n>Projeto</span>
      </a>
      <a mat-list-item *ngIf="depth === 3" (click)="openDialogCreateCase(1, nav.navStack[2].id)">
        <mat-icon fontSet="fa" fontIcon="fa-file" class="sesttr_monitoring"></mat-icon>
        <span i18n>Monitoramento</span>
      </a>
      <a mat-list-item *ngIf="depth === 3" (click)="openDialogCreateCase(2, nav.navStack[2].id)">
        <mat-icon fontSet="fa" fontIcon="fa-file" class="sesttr_retroanalysis"></mat-icon>
        <span i18n>Correlação & Retroanálise</span>
      </a>
    </mat-nav-list>
  </mat-menu>

</div>