@import "~sass/essential";

.customInfoButton {
    font-size: 23px !important;
    vertical-align: top;
    line-height: 30px !important;
    cursor: pointer;
}

.customTooltipText {
    font-size: 10px;
    text-align: inherit;
    color: $gray-700;
}

.font-size-custom {
    font-size: 11px !important;
}