<div mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragBoundary=".mat-typography" cdkDragHandle
  class="sest-dialog-title sest-flex-row">
  <div class="sest-flex-0">
    <mat-icon class="sest-auto-size sest-center-vertical" fontSet="fa" fontIcon="fa-file-export"></mat-icon>
  </div>
  <div class="sest-flex-1 sest-mx-3">
    Mover "{{data.item.name}}"
  </div>
</div>

<mat-dialog-content>
  <mat-form-field class="sest-w-100">
    <mat-label>Unidade Operacional</mat-label>
    <mat-select [(ngModel)]="selectedOpUnit" name="opUnit" (ngModelChange)="resetSelection('opUnit')">
      <mat-option *ngFor="let unit of operationalUnits" [value]="unit">
        {{unit.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <mat-form-field class="sest-w-100" *ngIf="selectedOpUnit">
    <mat-label>Campo</mat-label>
    <mat-select [(ngModel)]="selectedOilField" name="oilField" (ngModelChange)="resetSelection('oilField')">
      <mat-option *ngFor="let oilfield of selectedOpUnit.children" [value]="oilfield">
        {{oilfield.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <mat-form-field class="sest-w-100" *ngIf="selectedOilField">
    <mat-label>Poço</mat-label>
    <mat-select [(ngModel)]="selectedWell" name="well">
      <mat-option *ngFor="let well of selectedOilField.children" [value]="well">
        {{well.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-content>
  <p>Deseja mover o item selecionado?</p>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-stroked-button mat-dialog-close (click)="onNoClick()">
    Cancelar
  </button>
  <div class="sest-flex-1 sest-px-1"></div>
  <button mat-stroked-button color="primary" (click)="submit()" [disabled]="selectedWell === undefined || loading">
    Sim
  </button>
</mat-dialog-actions>