.graph-header-height {
  height: 20px !important;
}

.canvas-menu {
    position: absolute;
    left: 0;
    cursor: pointer;
}

.top-mat-icon {
  color: #979797 !important;
  width: 20px;
  height: 20px;
  font-size: 20px;
}
    