<div mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragBoundary=".mat-typography" cdkDragHandle
  class="sest-dialog-title sest-flex-row">
  <div>
    <mat-icon fontSet="far" fontIcon="fa-edit" class="sest-medium-icon"></mat-icon>
  </div>
  <div class="sest-flex-1 sest-mx-3">
    Edição de Dados
  </div>
</div>

<mat-dialog-content class="page-edit-data">
  <mat-tab-group fxFlexFill (selectedIndexChange)="onChangeTab($event)">
    <mat-tab label="Dados Básicos" fxFlexFill></mat-tab>
    <mat-tab label="Geometria"> </mat-tab>
    <mat-tab label="Sapatas"> </mat-tab>
    <mat-tab label="Objetivos"> </mat-tab>
    <mat-tab label="Estratigrafias"> </mat-tab>
  </mat-tab-group>
  <ng-container>
    <div class="sest-small-border sest-py-3 sest-px-2">
      <sest-dados-gerais [hidden]="currTab !== 0" class="sest-h-auto sest-w-100" [caseData]="currCase" #tab>
      </sest-dados-gerais>
      <sest-geometria [hidden]="currTab !== 1" class="sest-h-auto sest-w-100" [caseData]="currCase" #tab>
      </sest-geometria>
      <sest-sapatas [hidden]="currTab !== 2" class="sest-h-auto sest-w-100" [caseData]="currCase" #tab>
      </sest-sapatas>
      <sest-objetivos [hidden]="currTab !== 3" class="sest-h-auto sest-w-100" [caseData]="currCase" #tab>
      </sest-objetivos>
      <sest-estratigrafia [hidden]="currTab !== 4" class="sest-h-auto sest-w-100" [caseData]="currCase" #tab>
      </sest-estratigrafia>
    </div>
  </ng-container>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-stroked-button (click)="onNoClick()" class="sest-light-gray">
    Cancelar
  </button>
  <div class="sest-flex-1 sest-px-1"></div>
  <button (click)="submit()" mat-stroked-button color="primary"
    [disabled]="currCase.id !== dataset.currCaseId || loading">
    Salvar
  </button>
</mat-dialog-actions>