@import "~sass/essential";

.height-46 {
    min-height: 46px;
    max-height: 46px;
}
.height-250 {
    min-height: 250px;
    max-height: 250px;
    overflow: auto;
}
.font-11, .font-11 * {
  font-size: 11px;
}