<div mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragBoundary=".mat-typography" cdkDragHandle
    class="sest-dialog-title sest-flex-row">
    <div class="sest-flex-0">
        <img src="assets/images/calculos/poros.png" width="35">
    </div>
    <div class="sest-flex-1 sest-mx-3">
        Cálculo de pressão de poros
    </div>
</div>

<mat-dialog-content class="page-porePressure">
    <div class="sest-flex-row">
        <div class="sest-small-border sest-p-1 sest-mt-2 sest-mb-3 sest-flex-1 sest-flex-column">
            <h3 class="sest-border-title">Tipo de cálculo:</h3>
            <mat-select class="sest-px-1 sest-py-1 sest-w-100" [(ngModel)]="calculoSelected">
                <mat-option *ngFor="let el of calculoTypes" [(value)]="el" [disabled]="el.disabled">
                    {{el.label}}
                </mat-option>
            </mat-select>
        </div>
    </div>

    <div *ngIf="calculoSelected.value === 'PP'" class="sest-flex-row">
        <div class="sest-small-border sest-p-1 sest-mt-1 sest-mb-3 sest-flex-1 sest-flex-column">
            <h3 class="sest-border-title">Método:</h3>
            <mat-select class="sest-px-1 sest-py-1 sest-w-100" [(ngModel)]="metodoSelected">
                <mat-option *ngFor="let el of metodoTypes" [value]="el">
                    {{el.label}}
                </mat-option>
            </mat-select>
        </div>
    </div>

    <div *ngIf="calculoSelected.value === 'GPP'" class="sest-flex-row">
        <div class="sest-small-border sest-p-1 sest-my-1 sest-mt-1 sest-mb-3 sest-flex-1 sest-flex-column">
            <div class="sest-flex-row">
                <div class=" sest-my-1 sest-mr-1 sest-p-1 sest-flex-colum sest-align-center sest-flex-1">
                    A partir de GPPh
                    <mat-slide-toggle [(ngModel)]="gpphXpph"
                        class="sest-light-gray sest-mx-2 sest-py-1 sest-lineHeigth"></mat-slide-toggle>
                    A partir de PPh
                </div>
            </div>
        </div>
    </div>
    <div class="sest-flex-row">
        <div class="sest-small-border sest-p-1 sest-mt-1 sest-mb-3 sest-flex-1 sest-flex-column">
            <h3 *ngIf="calculoSelected.value === 'PP'" class="sest-border-title">
                Parâmetros de {{metodoSelected.label}}:
            </h3>
            <h3 *ngIf="calculoSelected.value !== 'PP'" class="sest-border-title">
                Entradas:
            </h3>
            <div class="sest-flex-row">
                <div *ngIf="calculoSelected.value !== 'GPP'"
                    class="sest-small-border sest-p-1 sest-my-2 sest-flex-1 sest-flex-column">
                    <h3 class="sest-border-title">Gn:</h3>
                    <div class="sest-flex-row">
                        <input class="sest-border-0 sest-py-2 sest-px-1 sest-w-100" [(ngModel)]="calculoSelected.gn">
                        <span class="sest-light-opacity">(lb/gal)</span>
                    </div>
                </div>
                <div *ngIf="calculoSelected.value === 'PP'"
                    class="sest-small-border sest-p-1 sest-my-2 sest-ml-2 sest-flex-1 sest-flex-column">
                    <h3 class="sest-border-title">Exp:</h3>
                    <div class="sest-flex-row">
                        <input class="sest-border-0 sest-py-2 sest-px-1 sest-w-100" [(ngModel)]="metodoSelected.exp">
                        <span class="sest-light-opacity">(-)</span>
                    </div>
                </div>
                <ng-container *ngIf="calculoSelected.value === 'GPP'">
                    <div *ngIf="gpphXpph" class="sest-small-border sest-p-1 sest-my-2 sest-flex-1 sest-flex-column"
                        matTooltipClass="background-red"
                        [ngClass]="{'sest-input-error': pporoSelecionado.tooltip.length > 0 }"
                        [matTooltip]="pporoSelecionado.tooltip">
                        <h3 class="sest-border-title">PPh (psia):</h3>
                        <mat-select class="sest-px-1 sest-py-1 sest-w-100" [(ngModel)]="pporoSelecionado.value">
                            <mat-option *ngFor="let el of perfisPPoro" [value]="el">
                                {{el.nome}}
                            </mat-option>
                        </mat-select>
                    </div>
                    <div *ngIf="!gpphXpph" class="sest-small-border sest-p-1 sest-my-2 sest-flex-1 sest-flex-column">
                        <h3 class="sest-border-title">GPPh:</h3>
                        <div class="sest-flex-row">
                            <input class="sest-border-0 sest-py-2 sest-px-1 sest-w-100"
                                [(ngModel)]="calculoSelected.gn">
                            <span class="sest-light-opacity">(lb/gal)</span>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
    <div *ngIf="calculoSelected.value === 'PP'">
        <div class="sest-flex-row">
            <div class="sest-small-border sest-p-1 sest-mt-1 sest-mb-3 sest-flex-1 sest-flex-column">
                <h3 class="sest-border-title">Entradas:</h3>
                <div class="sest-flex-row">
                    <div class="sest-small-border sest-p-1 sest-my-2 sest-flex-1 sest-flex-column"
                        matTooltipClass="background-red"
                        [ngClass]="{'sest-input-error': perfis[metodoSelected.mnemonico].tooltip.length > 0 }"
                        [matTooltip]="perfis[metodoSelected.mnemonico].tooltip">
                        <h3 class="sest-border-title">{{metodoSelected.mnemonico}} filtrado com trend:</h3>
                        <mat-select class="sest-px-1 sest-py-1 sest-w-100"
                            [(ngModel)]="perfis[metodoSelected.mnemonico].selecionado">
                            <mat-option *ngFor="let el of perfis[metodoSelected.mnemonico].lista" [value]="el">
                                {{el.nome}}
                            </mat-option>
                        </mat-select>
                    </div>
                </div>
                <div class="sest-flex-row">
                    <div class="sest-small-border sest-p-1 sest-my-2 sest-flex-1 sest-flex-column"
                        matTooltipClass="background-red"
                        [ngClass]="{'sest-input-error': gsobrSelecionado.tooltip.length > 0 }"
                        [matTooltip]="gsobrSelecionado.tooltip">
                        <h3 class="sest-border-title">GSOBR:</h3>
                        <mat-select class="sest-px-1 sest-py-1 sest-w-100" [(ngModel)]="gsobrSelecionado.value">
                            <mat-option *ngFor="let el of perfisGSOBR" [value]="el">
                                {{el.nome}}
                            </mat-option>
                        </mat-select>
                    </div>
                </div>
            </div>
        </div>

        <div class="sest-flex-row">
            <div class="sest-small-border sest-p-1 sest-mt-1 sest-mb-3 sest-flex-1 sest-flex-column">
                <div class="sest-flex-row">
                    <div class=" sest-my-1 sest-mr-1 sest-p-1 sest-flex-colum sest-align-center sest-flex-1">
                        <span class="sest-lineHeigth"> Cálculo de gradiente de pressão <br> de poros em
                            reservatório?</span>
                        <mat-checkbox class="sest-light-gray sest-mx-2 sest-py-1" [(ngModel)]="calculoReservatorio">
                        </mat-checkbox>
                    </div>
                    <div class="sest-flex-colum sest-align-center sest-py-1 sest-flex-1">
                        <button [disabled]="!calculoReservatorio" mat-stroked-button (click)="openWindowReservatorio()"
                            class="sest-light-gray sest-button-disabled">
                            Informações de reservatório
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="sest-flex-row">
        <div class="sest-small-border sest-p-1 sest-my-1 sest-flex-1 sest-flex-column"
            [ngClass]="{'sest-input-error': nomeCalculo.tooltip.length > 0 }" [matTooltip]="nomeCalculo.tooltip"
            matTooltipClass="background-red">
            <h3 class="sest-border-title">Nome para o cálculo:</h3>
            <input class="sest-border-0 sest-py-2 sest-px-1 sest-w-100" [(ngModel)]="nomeCalculo.value"
                [placeholder]="nomeCalculo.placeholder">
        </div>
    </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-stroked-button mat-dialog-close class="sest-light-gray" (click)="closeModal()">
        Fechar
    </button>
    <div class="sest-flex-1 sest-px-1"></div>
    <button mat-stroked-button color="primary" (click)="submit()" [disabled]="!isValid || loading">
        {{calculoSelected.value === 'PP' ? 'Calcular' : 'Gerar'}}
    </button>
</mat-dialog-actions>