<div mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragBoundary=".mat-typography" cdkDragHandle
    class="sest-dialog-title sest-flex-row">
    <div class="sest-flex-0">
        <img src="assets/images/calculos/sobrecarga.png" width="30">
    </div>
    <div class="sest-flex-1 sest-mx-3">
        Cálculo de Sobrecarga
    </div>
</div>

<mat-dialog-content class="page-overload-calculation">

    <div class="sest-flex-row">
        <div class="sest-small-border sest-p-1 sest-my-2 sest-flex-1 sest-flex-column"
            [ngClass]="{'sest-input-error': nomeCalculo.tooltip.length > 0 }" [matTooltip]="nomeCalculo.tooltip"
            matTooltipClass="background-red">
            <h3 class="sest-border-title">Nome do cálculo:</h3>
            <input class="sest-border-0 sest-py-1 sest-px-1" [(ngModel)]="nomeCalculo.value">
        </div>
    </div>

    <div class="sest-flex-row">
        <div class="sest-flex-column sest-flex-1 sest-p-1 sest-mt-2 sest-small-border max-width-entrada">
            <h3 class="sest-border-title">Perfil de entrada:</h3>
            <div class="sest-small-border sest-p-1 sest-my-2 sest-mx-1 sest-flex-1 sest-flex-column"
                [ngClass]="{'sest-input-error': rhobSelected.tooltip.length > 0 }" [matTooltip]="rhobSelected.tooltip"
                matTooltipClass="background-red">
                <h3 class="sest-border-title">RHOB:</h3>
                <mat-select class="sest-px-1 sest-w-100" [(ngModel)]="rhobSelected.value">
                    <mat-option disabled>Selecione</mat-option>
                    <mat-option *ngFor="let el of rhob" [value]="el">
                        {{el.nome}}
                    </mat-option>
                </mat-select>
            </div>
        </div>
    </div>

</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-stroked-button mat-dialog-close class="sest-light-gray" (click)="closeModal()">
        Fechar
    </button>
    <div class="sest-flex-1 sest-px-1"></div>
    <button mat-stroked-button color="primary" (click)="submit()" [disabled]="!isValid || loading">
        Ok
    </button>
</mat-dialog-actions>