<div class="sest-flex-row page-complemento-curva">

    <div class="sest-flex-column sest-flex-item-equal">
        <div class="sest-flex-row">
            <div
                class="sest-small-border sest-p-1 sest-mx-2 sest-my-1 sest-flex-column sest-flex-1 sest-flex-item-equal">
                <h3 class="sest-border-title">Perfil:</h3>
                <mat-select (selectionChange)="updateScreenInfo($event.value)" class="sest-px-1 sest-py-1 sest-w-100"
                    [(ngModel)]="perfilTypeSelected">
                    <mat-option>Selecione</mat-option>
                    <mat-option *ngFor="let el of initialDataModel.profiles" [value]="el">
                        {{el.mnemonic}} - {{el.name}}
                    </mat-option>
                </mat-select>
            </div>
            <div
                class="sest-small-border sest-p-1 sest-mx-2 sest-my-1 sest-flex-column sest-flex-1 sest-flex-item-equal">
                <h3 class="sest-border-title">Nome do perfil ajustado:</h3>
                <input class="sest-border-0 sest-py-2 sest-px-1" [(ngModel)]="nomeTypeSelected">
            </div>
        </div>
        <div class="sest-flex-row sest-my-2">
            <div
                class="sest-small-border sest-p-1 sest-mx-2 sest-my-1 sest-flex-column sest-flex-1 sest-flex-item-equal">
                <h3 class="sest-border-title">Trecho:</h3>
                <mat-select class="sest-px-1 sest-py-1 sest-w-100" [(ngModel)]="trechoTypeSelected">
                    <mat-option>Selecione</mat-option>
                    <mat-option *ngFor="let el of trechoTypes" [value]="el">
                        {{el}}
                    </mat-option>
                </mat-select>
            </div>
            <div
                class="sest-small-border sest-p-1 sest-mx-2 sest-my-1 sest-flex-column sest-flex-1 sest-flex-item-equal">
                <h3 class="sest-border-title">Tipo de ajuste:</h3>
                <mat-select class="sest-px-1 sest-py-1 sest-w-100" [(ngModel)]="tipoTypeSelected">
                    <mat-option>Selecione</mat-option>
                    <mat-option *ngFor="let el of tipoTypes" [value]="el">
                        {{el}}
                    </mat-option>
                </mat-select>
            </div>
        </div>
    </div>

    <div class="sest-flex-column sest-mx-2 sest-m-2 sest-pt-1 sest-title-line sest-flex-item-equal">
        <h3 class="sest-medium-title">Informações
            <mat-icon matSuffix color="primary" class="sest-center sest-ml-1 customInfoButton"
                [matMenuTriggerFor]="infoDados">
                info
            </mat-icon>
            <mat-menu #infoDados="matMenu" class="widthPanel">
                <div class="customTooltipText sest-mx-2">
                    <b>Trecho de sedimentos:</b> dado referente à extremidade do trecho em que o perfil será
                    completado.<br>
                    <b>PM do topo:</b> profundidade inicial de sedimentos.<br>
                    <b>Valor de topo:</b> valor que o perfil vai assumir na profundidade inicial de sedimentos.<br>
                    <b>PM da base:</b> profundidade final da trajetória.<br><br>
                    <mat-divider></mat-divider><br>
                    <b>Trecho do perfil:</b> dados referentes ao trecho do perfil que possui valores lidos.<br>
                    <b>PM inicial: </b> primeira profundidade do perfil com valor lido.<br>
                    <b>PM final:</b>última profundidade do perfil com valor lido.<br>
                </div>
            </mat-menu>
        </h3>

        <div class="sest-flex-column sest-flex-item-equal info-perfil">
            <div class="sest-flex-row">
                <div class="sest-flex-column sest-flex-1 adjust-max">
                    <p class="color-gray sest-text-underline">
                        <b>Trecho de sedimentos:</b>
                    </p>
                </div>
                <div class="sest-flex-column sest-flex-1">
                    <p class="color-gray sest-text-underline">
                        <b>Trecho do perfil com dados:</b>
                    </p>
                </div>
            </div>
            <div class="sest-flex-row">
                <div class="sest-flex-column sest-flex-1 adjust-max">
                    <p>&#8226; PM do topo: <span class="adjust-span">{{pmTopo}} <i>m</i></span> </p>
                </div>
                <div class="sest-flex-column sest-flex-1">
                    <p>&#8226; PM inicial: <span class="adjust-span">{{pmPrimeiro}} <i>m</i></span> </p>
                </div>
            </div>
            <div class="sest-flex-row">
                <div class="sest-flex-column sest-flex-1 adjust-max">
                    <p>&#8226; Valor do topo:
                        <span class="adjust-span">{{valorTopo}} <i>{{unidadeValorTopo}}</i></span>
                    </p>
                </div>
                <div class="sest-flex-column sest-flex-1">
                    <p>&#8226; PM final: <span class="adjust-span">{{pmUltimo}} <i>m</i></span> </p>
                </div>
            </div>
            <div class="sest-flex-row">
                <div class="sest-flex-column sest-flex-1 adjust-max">
                    <p>&#8226; PM da base: <span class="adjust-span">{{pmBase}} <i>m</i></span> </p>
                </div>
                <div class="sest-flex-column sest-flex-1">

                </div>
            </div>
        </div>

    </div>

</div>

<div class="sest-flex-column sest-px-2 sest-py-3 sest-m-1 sest-small-border">

    <div class="sest-flex-row sest-my-2">
        <div class="sest-small-border sest-p-1 sest-mx-2 sest-flex-column sest-flex-1 sest-flex-item-equal">
            <h3 class="sest-border-title">PM limite a ser considerada:</h3>
            <input class="sest-border-0 sest-py-2 sest-px-1" [(ngModel)]="pmLimiteTypeSelected"
                (keypress)="onKeyPress($event, pmLimiteTypeSelected)" (blur)="onBlurPmLimite()">
        </div>

        <div
            class="sest-small-border sest-p-1 sest-mx-2 sest-flex-column sest-flex-1 sest-flex-item-equal background-gray pontos-selecionados">
            <p class="adjust-p">Número de pontos selecionados:
                <span class="adjust-span">{{numeroPontos}}</span>
            </p>
        </div>
    </div>

    <div class="sest-flex-row sest-my-2">
        <div class="sest-small-border sest-p-1 sest-mx-2 sest-flex-column sest-flex-1 sest-flex-item-equal">
            <h3 class="sest-border-title">Seleção de litologias:</h3>
            <mat-select [formControl]="litologias" multiple class="sest-px-1 sest-py-1 sest-w-100"
                (closed)="onCloseLitologias()">
                <mat-select-trigger>
                    <mat-chip-list>
                        <mat-chip *ngFor="let lito of litologias.value" [removable]="true"
                            (removed)="onLithoRemoved(lito)">
                            {{ lito.label }}
                            <mat-icon matChipRemove>cancel</mat-icon>
                        </mat-chip>
                    </mat-chip-list>
                </mat-select-trigger>
                <mat-option *ngFor="let lito of litoTypes" [value]="lito">{{ lito.label }}</mat-option>
            </mat-select>
        </div>
    </div>

</div>