.app-switcher {
  .mat-button {
    color: white;
    min-width: 20px;
  }

  .switcher__btn {
    line-height: 41px;
    margin-left: 14px;
    height: 37px;
    border-color: #009C59 !important;
  }

  .switcher__dropdown {
    width: 97%;
  }

  .switcher__dropdown__label {
    margin: 0;
    font-size: 16px;
  }

}
