<div mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragBoundary=".mat-typography" cdkDragHandle
    class="sest-dialog-title sest-flex-row">
    <div>
        <mat-icon fontSet="far" fontIcon="fa-edit" class="sest-medium-icon"></mat-icon>
    </div>
    <div class="sest-flex-1 sest-mx-3">
        Editar {{ tipo }}
    </div>
</div>

<mat-dialog-content class="page-edit-profile">
    <mat-tab-group (selectedTabChange)="commitVisualStyle()" *ngIf="tipo === 'Perfil'">
        <mat-tab label="Visual">
            <ng-template matTabContent>
                <div class="sest-small-border sest-scroll">
                    <div class="sest-p-1 sest-pt-3">
                        <sest-edit-profile-style [perfil]="dadoDeProfundidade" #editStyle>
                        </sest-edit-profile-style>
                    </div>
                </div>
            </ng-template>
        </mat-tab>
        <mat-tab label="Dados">
            <ng-template matTabContent>
                <div class="sest-small-border sest-p-1 sest-pt-3">
                    <sest-deep-data-table [tipo]="tipo" [dadoDeProfundidade]="dadoDeProfundidade"
                        [calculado]="calculado" [casoEditavel]="caseId === dataset.currCaseId">
                    </sest-deep-data-table>
                </div>
            </ng-template>
        </mat-tab>
    </mat-tab-group>
    <div class="sest-mt-1" *ngIf="tipo !== 'Perfil'">
        <sest-deep-data-table [tipo]="tipo" [dadoDeProfundidade]="dadoDeProfundidade"
            [casoEditavel]="caseId === dataset.currCaseId"></sest-deep-data-table>
    </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-stroked-button mat-dialog-close class="sest-light-gray" (click)="closeModal()">
        Fechar
    </button>
    <div class="sest-flex-1 sest-px-1"></div>
    <button mat-stroked-button color="primary" (click)="submit()" [disabled]="loading">
        Ok
    </button>
</mat-dialog-actions>