<mat-toolbar class="sest-side-menu-top-toolbar">
  <mat-toolbar-row fxLayout="row">
    <mat-icon class="list-icon sest-gray-400" matListIcon>list</mat-icon>
    <span class="sest-toolbar-brand-text sest-gray-400" i18n fxFlex>Menu de Casos:</span>
    <a *ngIf="sidenav && !sidenav.opened" mat-icon-button (click)="sidenav.open()">
      <mat-icon class="toggle-icon">chevron_right</mat-icon>
    </a>
    <a *ngIf="!(sidenav && !sidenav.opened)" mat-icon-button (click)="sidenav.close()">
      <mat-icon class="toggle-icon">chevron_left</mat-icon>
    </a>
  </mat-toolbar-row>
</mat-toolbar>

<sest-accordion-tree *ngIf="sidenav.opened"></sest-accordion-tree>

<sest-menu-tree *ngIf="!sidenav.opened"></sest-menu-tree>

<mat-toolbar class="sest-side-menu-bottom-toolbar">
  <mat-toolbar-row fxLayout="row" class="sest-panel-bottom" [ngClass]="{'sest-border-null' : sidenav && !sidenav.opened}">
    <mat-icon class="list-icon sest-gray-400" matListIcon>list</mat-icon>
    <span class="sest-toolbar-brand-text sest-gray-400" i18n fxFlex>Adicionar caso:</span>
    <a mat-icon-button (click)="openWindowImportCase()">
      <mat-icon class="toggle-icon">add</mat-icon>
    </a>
  </mat-toolbar-row>
</mat-toolbar>