<div mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragBoundary=".mat-typography" cdkDragHandle
    class="sest-dialog-title sest-flex-row">
    <div class="sest-flex-0">
        <img src="assets/images/icons/perfuracao.png" width="30">
    </div>
    <div class="sest-flex-1 sest-mx-3">
        Registros
    </div>
</div>

<mat-dialog-content class="page-registry">
    <mat-tab-group [(selectedIndex)]="selected" fxFlexFill>
        <mat-tab *ngFor="let aba of abas" [label]="aba.nome" fxFlexFill>
        </mat-tab>
        <mat-tab label="Marcadores">
            <sest-markers class="sest-h-auto sest-w-100 sest-py-3 sest-px-2" [marcadores]="marcadores"
                [tipo]="'Registro'"></sest-markers>
        </mat-tab>
    </mat-tab-group>
    <ng-container *ngFor="let aba of abas; let i = index">
        <div *ngIf="selected === i" class="sest-small-border sest-py-3 sest-px-2">
            <sest-records-table #table class="sest-h-auto sest-w-100" [info]="abas[i]"></sest-records-table>
        </div>
    </ng-container>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-stroked-button class="sest-light-gray" (click)="closeModal()">
        Cancelar
    </button>
    <div class="sest-flex-1 sest-px-1"></div>
    <button mat-stroked-button color="primary" *ngIf="selected !== 4" (click)="apply()"
        [disabled]="!isValid || loading">
        Aplicar
    </button>
    <button mat-stroked-button color="primary" (click)="submit()" [disabled]="!isValid || loading">
        Salvar
    </button>
</mat-dialog-actions>