<!-- main container -->
<div fxLayout="column" class="sest-main-container" fxFlexFill appRightClick>

  <!-- main content -->
  <div fxLayout="column" fxFlex="nogrow noshrink" class="sest-main-content-wrapper">
    <div class="sest-main-content" fxFlexFill>

      <mat-tab-group id="main-tabs" headerPosition="below" (selectedTabChange)="onTabChange($event)" fxFlexFill>
        <mat-tab *ngFor="let case of openFiles" [label]="case.filename" fxFlexFill>

          <ng-template mat-tab-label>
            <span class="{{case['tipoPoço']}}">{{case.nome}}</span>
          </ng-template>

          <div class="side-left" *ngIf="selected === case.id"
            [ngStyle]="{'width.px': (80 + 100 * trajetWidth + (case.litologias.length + case.estratigrafias.length) * 70) + 5 + savedSize + size}">
            <h2 class="{{case['tipoPoço']}}">

              <div class="sest-flex-column sest-small-border sest-bg-white">
                <div class="sest-mx-1 title">
                  PM <mat-slide-toggle [checked]="deepView" (change)="mudarVisaoProfundidade($event.checked, case.id)">
                  </mat-slide-toggle> PV
                </div>
              </div>
              <div class="sest-flex-1"></div>
              <i class="material-icons sest-mx-0" (click)="dialog.openDialogCreateTabs()" matTooltip="Criar Aba"
                matTooltipPosition="left" aria-label="Adicionar nova Aba" *ngIf="case.id === dataset.currCaseId">
                add_circle_outline
              </i>
            </h2>

            <div fxLayout="column" class="sest-tab-container" fxFlexFill>
              <div fxLayout="row" fxFlex="nogrow noshrink" class="sest-graph-content-wrapper">
                <div class="sest-graph-content" fxLayoutGap="10px" fxFlexFill>

                  <mat-card class="graph-item mat-elevation-z0 trajetMargin"
                    [ngStyle]="{'width.px': 50 + 100 * trajetWidth, 'min-width.px': 50 + 100 * trajetWidth, 'max-width.px': 50 + 100 * trajetWidth}">
                    <sest-trajet-canvas [caseId]="case.id" [(width)]="trajetWidth">
                    </sest-trajet-canvas>
                  </mat-card>

                  <mat-card *ngFor="let lito of case.litologias" class="graph-item w-50px mat-elevation-z0">
                    <sest-lito-canvas [lithologyId]="lito.id" [caseId]="case.id"></sest-lito-canvas>
                  </mat-card>

                  <mat-card *ngFor="let estrat of case.estratigrafias" class="graph-item w-50px mat-elevation-z0">
                    <sest-estrat-canvas [stratigraphyId]="estrat" [caseId]="case.id"></sest-estrat-canvas>
                  </mat-card>

                </div>
              </div>
            </div>

          </div>
          <div class="boundary">
            <div class="resize-handle-right" cdkDrag cdkDragLockAxis="x" (cdkDragMoved)="onResizeMove($event)"
              (cdkDragEnded)="ended(case.id)" cdkDragBoundary=".boundary"
              [ngStyle]="{'left.px': (80 + 100 * trajetWidth + (case.litologias.length + case.estratigrafias.length) * 70) + initialSize -140}">
            </div>
          </div>
          <div class="side-right" fxFlex *ngIf="selected === case.id">
            <sest-graphic-area class="sest-graph-area" [caseId]="case.id">
            </sest-graphic-area>
          </div>

        </mat-tab>
      </mat-tab-group>

    </div>
  </div>

</div>