<div mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragBoundary=".mat-typography" cdkDragHandle
    class="sest-dialog-title sest-flex-row">
    <div class="sest-flex-0">
        <img src="assets/images/icons/filtro.svg" width="32" height="27">
    </div>
    <div class="sest-flex-1 sest-mx-3">
        Filtrar dados
    </div>
</div>

<mat-dialog-content class="page-filter">
    <div class="sest-flex-row">
        <div class="sest-small-border sest-p-1 sest-my-1 sest-flex-1 sest-flex-column" matTooltipClass="background-red"
            [ngClass]="{'sest-input-error': perfilSelecionado.tooltip.length > 0 }"
            [matTooltip]="perfilSelecionado.tooltip">
            <h3 class="sest-border-title">Perfil:</h3>
            <mat-select class="sest-px-1 sest-py-1 sest-w-100" [(ngModel)]="perfilSelecionado.value"
                (selectionChange)="perfilChanged()" [disabled]="editando">
                <mat-option *ngFor="let el of perfisDoPoco" [value]="el">
                    {{el.nome}}
                </mat-option>
            </mat-select>
        </div>
    </div>
    <div class="sest-flex-row">
        <div class="sest-small-border sest-my-3 sest-mr-1 sest-p-1 sest-flex-colum sest-align-center sest-flex-1">
            <mat-slide-toggle [(ngModel)]="aplicarCorte" (change)="toggleChanged(false)"
                [disabled]="editandoFiltroCorte" class="sest-light-gray sest-mx-2 sest-py-1">
                Aplicar corte
            </mat-slide-toggle>
        </div>
        <div class="sest-small-border sest-my-3 sest-ml-1 sest-p-1 sest-flex-colum sest-align-center sest-flex-1">
            <mat-slide-toggle [(ngModel)]="aplicarFiltro" (change)="toggleChanged(true)" [disabled]="editando"
                class="sest-light-gray sest-mx-2 sest-py-1">
                Aplicar filtro
            </mat-slide-toggle>
        </div>
    </div>
    <div class="sest-flex-row" *ngIf="aplicarCorte">
        <div class="sest-flex-column sest-small-border sest-mt-1 sest-p-1 sest-mb-3 sest-flex-item-equal">
            <h3 class="sest-border-title">Opções de corte:</h3>
            <div class="sest-flex-row sest-my-2">
                <div class="sest-small-border sest-p-1 sest-mx-2 sest-mr-1 sest-flex-column sest-flex-1"
                    matTooltipClass="background-red" [ngClass]="{'sest-input-error': limiteInf.tooltip.length > 0 }"
                    [matTooltip]="limiteInf.tooltip">
                    <h3 class="sest-border-title">Limite inferior:</h3>
                    <input class="sest-border-0 sest-py-2 sest-px-1 sest-w-100" [(ngModel)]="limiteInf.value">
                </div>
                <div class="sest-small-border sest-p-1 sest-mx-2 sest-ml-1 sest-flex-column sest-flex-1"
                    matTooltipClass="background-red" [ngClass]="{'sest-input-error': limiteSup.tooltip.length > 0 }"
                    [matTooltip]="limiteSup.tooltip">
                    <h3 class="sest-border-title">Limite superior:</h3>
                    <input class="sest-border-0 sest-py-2 sest-px-1 sest-w-100" [(ngModel)]="limiteSup.value">
                </div>
            </div>
            <div class="sest-flex-row">
                <div class="sest-small-border sest-p-1 sest-mx-1 sest-my-2 sest-mb-3 sest-flex-column sest-flex-1">
                    <h3 class="sest-border-title">Ação para dados fora dos limites:</h3>
                    <mat-radio-group class="sest-flex-item-equal" [(ngModel)]="tipoCorteSelecionado">
                        <div class="sest-flex-column sest-center">
                            <mat-radio-button value="Truncar">
                                Truncar dados para os limites
                            </mat-radio-button>
                            <mat-radio-button value="Eliminar">
                                Eliminar dados fora dos limites
                            </mat-radio-button>
                        </div>
                    </mat-radio-group>
                </div>
            </div>
        </div>
    </div>
    <div class="sest-flex-row" *ngIf="aplicarFiltro">
        <div class="sest-flex-column sest-small-border sest-mt-1 sest-p-1 sest-mb-3 sest-flex-item-equal">
            <h3 class="sest-border-title">Opções de filtros:</h3>
            <div class="sest-flex-row">
                <div class="sest-small-border sest-p-1 sest-mt-2 sest-mx-1 sest-mb-3 sest-flex-1 sest-flex-column">
                    <h3 class="sest-border-title">Tipo de filtro:</h3>
                    <mat-select class="sest-px-1 sest-py-1 sest-w-100" [(ngModel)]="filtroSelecionado"
                        [disabled]="editando">
                        <mat-option *ngFor="let el of tipoFiltros" [value]="el">
                            {{el.label}}
                        </mat-option>
                    </mat-select>
                </div>
            </div>
            <div class="sest-flex-row" *ngIf="filtroSelecionado.value === tipoFiltros[0].value">
                <div [ngClass]="{'sest-input-error': desvioMaximo.tooltip.length > 0 }"
                    [matTooltip]="desvioMaximo.tooltip" matTooltipClass="background-red"
                    class="sest-small-border sest-p-1 sest-mt-1 sest-mx-1 sest-mb-3 sest-flex-1 sest-flex-column">
                    <h3 class="sest-border-title">Desvio máximo:</h3>
                    <input class="sest-border-0 sest-py-2 sest-px-1 sest-w-100" [(ngModel)]="desvioMaximo.value">
                </div>
            </div>
            <div class="sest-flex-row" *ngIf="filtroSelecionado.value === tipoFiltros[1].value">
                <div [ngClass]="{'sest-input-error': litosSelecionadas.tooltip.length > 0 }"
                    [matTooltip]="litosSelecionadas.tooltip" matTooltipClass="background-red"
                    class="sest-small-border sest-p-1 sest-mt-1 sest-mx-1 sest-mb-3 sest-flex-2 sest-flex-column">
                    <h3 class="sest-border-title">Seleção de Litologias:</h3>
                    <mat-select [formControl]="litosSelecionadas.value" multiple class="sest-px-1 sest-py-1 sest-w-100">
                        <mat-select-trigger>
                            <mat-chip-list>
                                <mat-chip *ngFor="let lito of litosSelecionadas.value.value" [removable]="true"
                                    (removed)="onLithoRemoved(lito)">
                                    {{ lito.nome }}
                                    <mat-icon matChipRemove>cancel</mat-icon>
                                </mat-chip>
                            </mat-chip-list>
                        </mat-select-trigger>
                        <mat-option *ngFor="let lito of litosDoPoco" [value]="lito">{{ lito.nome }}</mat-option>
                    </mat-select>
                </div>
            </div>
            <div class="sest-flex-row" *ngIf="filtroSelecionado.value === tipoFiltros[2].value">
                <div [ngClass]="{'sest-input-error': pontosCalculo.tooltip.length > 0 }"
                    [matTooltip]="pontosCalculo.tooltip" matTooltipClass="background-red"
                    class="sest-small-border sest-p-1 sest-mt-1 sest-mx-1 sest-mb-3 sest-flex-1 sest-flex-column">
                    <h3 class="sest-border-title">Número de pontos para calcular o filtro:</h3>
                    <input class="sest-border-0 sest-py-2 sest-px-1 sest-w-100" [(ngModel)]="pontosCalculo.value">
                </div>
            </div>
            <div class="sest-flex-row" *ngIf="filtroSelecionado.value === tipoFiltros[3].value">
                <div class="sest-small-border sest-p-1 sest-mt-1 sest-mx-1 sest-mb-3 sest-flex-1 sest-flex-column"
                    [ngClass]="{'sest-input-error': gRaySelecionado.tooltip.length > 0 }"
                    [matTooltip]="gRaySelecionado.tooltip" matTooltipClass="background-red">
                    <h3 class="sest-border-title">Gamma Ray:</h3>
                    <mat-select class="sest-px-1 sest-py-1 sest-w-100" [(ngModel)]="gRaySelecionado.value">
                        <mat-option *ngFor="let el of tiposGRay" [value]="el">
                            {{el.nome}}
                        </mat-option>
                    </mat-select>
                </div>
            </div>
        </div>
    </div>
    <div class="sest-flex-row">
        <div class="sest-small-border sest-p-1 sest-my-1 sest-mt-1 sest-flex-1 sest-flex-column"
            [ngClass]="{'sest-input-error': nomePerfilFiltrado.tooltip.length > 0 }"
            [matTooltip]="nomePerfilFiltrado.tooltip" matTooltipClass="background-red">
            <h3 class="sest-border-title">
                {{ editando ? 'Nome do perfil gerado' : 'Nome para o novo perfil:'}}
            </h3>
            <input class="sest-border-0 sest-py-2 sest-px-1 sest-w-100" [(ngModel)]="nomePerfilFiltrado.value"
                [placeholder]="nomePerfilFiltrado.placeholder">
        </div>
    </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-stroked-button mat-dialog-close class="sest-light-gray" (click)="closeModal()">
        Fechar
    </button>
    <div class="sest-flex-1 sest-px-1"></div>
    <button mat-stroked-button color="primary" (click)="submit()" [disabled]="!isValid || loading">
        {{ editando ? 'Salvar Mudanças' : 'Ok'}}
    </button>
</mat-dialog-actions>