<app-data-set [defaultCellTypes]="defaultCellTypes" [data]="tableData" [rowHeaders]="rowHeaders"
  [colHeaders]="colHeaders" [fixedRowsTop]="fixedRowsTop" [fixedColumnsLeft]="fixedColumnsLeft" [tableType]="tableType"
  [numericFormat]="numericFormat" [contextMenuOptions]="contextMenuOptions" (afterCreateCol)="afterCreateCol($event)"
  (afterChangeTable)="afterChangeTable($event)" (changeColumn)="changeProfile($event)" [(rotaryTable)]="rotaryTable"
  (buttonClicked)="onButtonChangeProfileClicked($event)">
</app-data-set>