<div mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragBoundary=".mat-typography" cdkDragHandle
  class="sest-dialog-title sest-flex-row">
  <div class="sest-flex-0">
    <img src="assets/images/icons/importar.svg">
  </div>
  <div class="sest-flex-1 sest-mx-3">
    Importação de Dados
  </div>
</div>
<mat-dialog-content class="prevent-overflow">
  <div class="sest-flex-column sest-small-border sest-p-1 sest-mb-3 sest-mt-1">
    <h3 class="sest-border-title">Caso Atual</h3>
    <div class="sest-mt-0 sest-m-1 sest-flex-row sest-mb-2">
      <div class="sest-flex-1">
        {{ currCase.nome }}
      </div>
      <div>
        <h3 class="sest-m-0 sest-project-color" *ngIf="currCase['tipoPoço'] === 'Projeto'">
          PROJETO
        </h3>
        <h3 class="sest-m-0 sest-monit-color" *ngIf="currCase['tipoPoço'] === 'Monitoramento'">
          MONITORAMENTO
        </h3>
        <h3 class="sest-m-0 sest-retro-color" *ngIf="currCase['tipoPoço'] === 'Retroanalise'">
          CORRELAÇÃO
        </h3>
      </div>
    </div>
  </div>
  <div #dialogInfo></div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-stroked-button mat-dialog-close (click)="onNoClick()" class="sest-light-gray">
    Cancelar
  </button>
  <div class="sest-flex-1 sest-px-1"></div>
  <button *ngIf="previousComponent.length > 0" (click)="previousStep()" mat-stroked-button class="sest-light-gray">
    Anterior
  </button>
  <button *ngIf="nextComponent !== undefined" (click)="nextStep()" mat-stroked-button color="primary"
    [disabled]="!completedStep">
    Proximo
  </button>
  <button *ngIf="nextComponent === undefined" (click)="submit()" mat-stroked-button color="primary"
    [disabled]="!completedStep || loading">
    Importar
  </button>
</mat-dialog-actions>