<div mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragBoundary=".mat-typography" cdkDragHandle
    class="sest-dialog-title sest-flex-row">
    <div class="sest-flex-0">
        <mat-icon class="sest-large-icon">settings</mat-icon>
    </div>
    <div class="sest-flex-1 sest-mx-3">
        Configuração de conexão com servidor
    </div>
</div>

<mat-dialog-content class="page-filter">
    <div class="sest-flex-row">
        <div class="sest-flex-column sest-small-border sest-mt-1 sest-p-1 sest-mb-3 sest-flex-item-equal">
            <h3 class="sest-border-title">Servidor Witsml:</h3>
            <div class="sest-flex-row">
                <div [ngClass]="{'sest-input-error': url.tooltip.length > 0 }"
                    [matTooltip]="url.tooltip" matTooltipClass="background-red"
                    class="sest-small-border sest-p-1 sest-mt-1 sest-mx-1 sest-mb-3 sest-flex-1 sest-flex-column">
                    <h3 class="sest-border-title">Url:</h3>
                    <input class="sest-border-0 sest-py-2 sest-px-1 sest-w-100" [(ngModel)]="url.value">
                </div>
            </div>
            <div class="sest-flex-row">
                <div [ngClass]="{'sest-input-error': url.tooltip.length > 0 }"
                    [matTooltip]="url.tooltip" matTooltipClass="background-red"
                    class="sest-small-border sest-p-1 sest-mt-1 sest-mx-1 sest-mb-3 sest-flex-1 sest-flex-column">
                    <h3 class="sest-border-title">Timeout (min):</h3>
                    <input class="sest-border-0 sest-py-2 sest-px-1 sest-w-100" [(ngModel)]="url.value">
                </div>
            </div>
        </div>
    </div>
    <div class="sest-flex-row">
        <div class="sest-flex-column sest-small-border sest-mt-1 sest-p-1 sest-mb-3 sest-flex-item-equal">
            <h3 class="sest-border-title">Informações do usuário:</h3>
            <div class="sest-flex-row">
                <div [ngClass]="{'sest-input-error': url.tooltip.length > 0 }"
                    [matTooltip]="url.tooltip" matTooltipClass="background-red"
                    class="sest-small-border sest-p-1 sest-mt-2 sest-mx-1 sest-mb-3 sest-flex-1 sest-flex-column">
                    <h3 class="sest-border-title">Nome de usuário:</h3>
                    <input class="sest-border-0 sest-py-2 sest-px-1 sest-w-100" [(ngModel)]="url.value">
                </div>
            </div>
            <div class="sest-flex-row">
                <div [ngClass]="{'sest-input-error': url.tooltip.length > 0 }"
                    [matTooltip]="url.tooltip" matTooltipClass="background-red"
                    class="sest-small-border sest-p-1 sest-mt-1 sest-mx-1 sest-mb-3 sest-flex-1 sest-flex-column">
                    <h3 class="sest-border-title">Senha:</h3>
                    <input class="sest-border-0 sest-py-2 sest-px-1 sest-w-100" [(ngModel)]="url.value">
                </div>
            </div>
        </div>
    </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-stroked-button mat-dialog-close class="sest-light-gray" (click)="closeModal()">
        Fechar
    </button>
    <div class="sest-flex-1 sest-px-1"></div>
    <button mat-stroked-button color="primary" (click)="submit()">
        Salvar
    </button>
</mat-dialog-actions>