<div mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragBoundary=".mat-typography" cdkDragHandle
  class="sest-dialog-title sest-flex-row">
  <div class="sest-flex-0">
    <mat-icon class="sest-center-vertical">add_circle_outline</mat-icon>
  </div>
  <div class="sest-flex-1 sest-mx-2">
    Criar nova aba:
  </div>
</div>

<mat-dialog-content>
  <mat-form-field class="sest-w-100" color="primary">
    <input matInput placeholder="Digite um nome" [(ngModel)]="newTabName">
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-stroked-button mat-dialog-close (click)="onNoClick()">
    Cancelar
  </button>
  <div class="sest-flex-1 sest-px-1"></div>
  <button (click)="submit()" mat-stroked-button color="primary" type="submit" [disabled]="newTabName.length < 1">
    Criar
  </button>
</mat-dialog-actions>