@import '~sass/utils';

$gray-100: map-get($mat-petro, A100) !important;
$gray-200: map-get($mat-petro, A200) !important;
$gray-400: map-get($mat-petro, A400) !important;
$gray-700: map-get($mat-petro, A700) !important;

.sest-graphic-tab {
    display: flex;
    overflow: hidden;
}

.close-abas {
    font-size: 18px !important;
    margin-left: 5px;
}
.mat-tab-group {
  height: 100% !important;
}