<mat-tab-group [selectedIndex]="getCurrIndex(currTab.id)" (selectedIndexChange)="onTabChange($event)"
  *ngIf="(stateService.currentTab$ | async) as currTab" fxFlexFill>
  <mat-tab *ngFor="let tab of stateService.currentTabs$ | async; trackBy: tabsTrackFn" fxFlexFill [label]="tab.name">
    <ng-template mat-tab-label>
      <span>{{tab.name}}</span>
      <i *ngIf="tab.fixa == false && caseId === dataset.currCaseId" class="material-icons close-abas"
        (click)="delete(tab)">
        cancel
      </i>
    </ng-template>
    <sest-graphic-tab [tabId]="tab.id" [caseId]="caseId" *ngIf="tab.id === currTab.id" class="sest-graphic-tab">
    </sest-graphic-tab>
  </mat-tab>
</mat-tab-group>