<div class="page-montagem-perfis">

    <div class="sest-flex-row">
        <div class="sest-title-line sest-line-retro sest-p-1 sest-my-2 sest-mx-2 sest-flex-column sest-w-custom">
            <h3 class="sest-medium-title sest-color-retro">Poço de Correlação:</h3>
        </div>
        <div class="sest-title-line sest-p-1 sest-my-2 sest-mx-2 sest-flex-column sest-flex-1">
            <h3 class="sest-medium-title">Poço de Trabalho:
                <mat-icon matSuffix color="primary" class="sest-center sest-ml-1 customInfoButton"
                    [matMenuTriggerFor]="infoDados">
                    info
                </mat-icon>
                <mat-menu #infoDados="matMenu" class="widthPanel">
                    <div class="customTooltipText sest-mx-2">
                        <p class="color-gray sest-text-underline font-size-custom">
                            <b>Trecho de sedimentos:</b>
                        </p>
                        <div class="sest-flex-row adjust-max font-size-custom">
                            <p>&#8226; Cota Inicial:
                                <span class="adjust-span"><b>{{profInicial}}</b> <i>m</i></span>
                            </p>
                        </div>
                        <div class="sest-flex-row adjust-max font-size-custom">
                            <p>&#8226; Cota Final:
                                <span class="adjust-span"><b>{{profFinal}}</b> <i>m</i></span>
                            </p>
                        </div>
                        <div class="sest-flex-row adjust-max font-size-custom" *ngIf="profFinal !== profMaxima">
                            <p>&#8226; Cota Máxima:
                                <span class="adjust-span"><b>{{profMaxima}}</b> <i>m</i></span>
                            </p>
                        </div>
                    </div>
                </mat-menu>
            </h3>
        </div>
    </div>

    <hot-table #table [data]="data" [colHeaders]="colHeaders" [columns]="columnsTypes" [options]="tableOptions"
        (afterChange)="mudarTabela($event)"></hot-table>
</div>