<div mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragBoundary=".mat-typography" cdkDragHandle
    class="sest-dialog-title sest-flex-row small-title">
    <div class="sest-flex-1 sest-mx-2 sest-center-vertical">
        <mat-icon class="sest-mr-2 fas fa-shapes"></mat-icon>
        Legendas do Gráfico
    </div>
    <div class="sest-flex-0">
        <button mat-icon-button (click)="close()">
            <mat-icon>close</mat-icon>
        </button>
    </div>
</div>
<mat-dialog-content class="page-legend tight">
    <div *ngIf="perfis.length > 0"
        class="sest-flex-column sest-small-border sest-mx-2 sest-mt-3 sest-mb-2 sest-p-1 sest-flex-item-equal">
        <h3 class="sest-border-title bold">Perfis:</h3>
        <div *ngFor="let perfil of perfis; let last = last;" class="sest-flex-column">
            <div class="sest-flex-row">
                {{perfil.nome}}
                <i>({{perfil.grupoDeUnidades['unidadePadrão']['símbolo']}})</i>
                <div class="sest-flex-1"></div>
                <div class="linha sest-center-vertical"
                    [ngStyle]="{ 'border-color': perfil.estiloVisual.corDaLinha, 'border-width': perfil.estiloVisual.espessura+'px', 'border-style': perfil.estiloVisual.estiloLinha }">
                </div>
                <div class="sest-center-vertical" [ngClass]="perfil.estiloVisual.marcador"
                    [ngStyle]="{ 'background-color': perfil.estiloVisual.corDoMarcador, 'border-color': perfil.estiloVisual.corDoMarcador }">
                    <div class="inside" [ngStyle]="{ 'border-color': perfil.estiloVisual.corDoMarcador }">
                    </div>
                </div>
            </div>
            <mat-divider *ngIf="!last"></mat-divider>
        </div>
    </div>
    <div *ngIf="registrosEventos.length > 0"
        class="sest-flex-column sest-small-border sest-mx-2 sest-mt-3 sest-mb-2 sest-p-1 sest-flex-item-equal">
        <h3 class="sest-border-title bold">Registros & Eventos:</h3>
        <div *ngFor="let registroEvento of registrosEventos; let last = last;" class="sest-flex-column">
            <div class="sest-flex-row">
                {{registroEvento.nome}}
                <div class="sest-flex-1"></div>
                <div *ngIf="!marcadores[registroEvento.id].fixo" class="sest-center-vertical"
                    [ngClass]="registroEvento.estiloVisual.marcador"
                    [ngStyle]="{ 'background-color': registroEvento.estiloVisual.corDoMarcador, 'border-color': registroEvento.estiloVisual.contornoDoMarcador }">
                    <div class="inside" [ngStyle]="{ 'border-color': registroEvento.estiloVisual.corDoMarcador }">
                    </div>
                </div>
                <img *ngIf="marcadores[registroEvento.id].fixo" [src]="marcadores[registroEvento.id].avatar"
                    class="fixo sest-center-vertical">
            </div>
            <mat-divider *ngIf="!last"></mat-divider>
        </div>
    </div>
</mat-dialog-content>