<mat-toolbar class="sest-toolbar-menu">
  <button mat-button (click)="openWindowFilter()">
    <img src="assets/images/icons/filtro.svg" alt="Filtro">
    &nbsp; Filtro
  </button>
  <button mat-button (click)="openWindowSelectCorrelaction()">
    <img src="assets/images/icons/correlacoes.svg" alt="Correlações">
    &nbsp; Correlações
  </button>
  <button mat-button (click)="openWindowProfileComposition()">
    <img src="assets/images/icons/composicao.svg" alt="Composição">
    &nbsp; Composição de Perfis
  </button>
  <button mat-button [matMenuTriggerFor]="perfuracao">
    <img src="assets/images/icons/perfuracao.svg" alt="Perfuração">
    &nbsp; Perfuração
  </button>
  <!-- <button mat-button> <img src="assets/images/icons/calculadora.svg" alt="Calculadora"> &nbsp; Calculadora</button> -->
  <button mat-button [matMenuTriggerFor]="calculos">
    <img src="assets/images/icons/calculos.svg" alt="Cálculos">
    &nbsp; Cálculos
  </button>
  <button mat-button [matMenuTriggerFor]="menu">
    <img src="assets/images/icons/importar.svg" alt="Filtro">
    &nbsp; Importar
  </button>
  <button mat-button (click)="openWindowExport()">
    <img src="assets/images/icons/exportar.svg" alt="Exportar">
    &nbsp; Exportar
  </button>
  <button mat-button (click)="salvar()">
    <img src="assets/images/icons/salvar.svg" alt="Salvar">
    &nbsp; Salvar
  </button>
  <button mat-button [matMenuTriggerFor]="rto">
    <img src="assets/images/icons/configuracoes.svg" alt="Tempo Real">
    &nbsp; Tempo Real
  </button>
</mat-toolbar>

<mat-menu #perfuracao="matMenu">
  <div class="wrapper-menu sest-flex-column">
    <button mat-flat-button (click)="openWindowExpoentD()">
      Expoente D
    </button>
    <mat-divider></mat-divider>
    <button mat-flat-button (click)="openWindowRegistry()">
      Registros
    </button>
    <mat-divider></mat-divider>
    <button (click)="openWindowEvents()" mat-flat-button>
      Eventos de Perfuração
    </button>
  </div>
</mat-menu>

<mat-menu #rto="matMenu" class="rtoMenu">
  <div class="wrapper-menu">
    <button mat-flat-button class="small-button" (click)="openWindowRtoConnection()">
      <mat-icon class="sest-m-2 material-icons">settings</mat-icon>
      <div>
        Configurar
      </div>
    </button>
    <mat-divider></mat-divider>
    <button mat-flat-button class="small-button" [disabled]="false" (click)="connectingRto($event)">
      <mat-icon class="sest-m-2" *ngIf="!connectingGif">wifi</mat-icon>
      <mat-icon class="sest-m-2" *ngIf="connectingGif"><img src="assets/images/conectando.gif"></mat-icon>
      <div>
        Conectar
      </div>
    </button>
    <mat-divider></mat-divider>
    <button mat-flat-button class="small-button" [disabled]="false" (click)="openWindowLinkData()">
      <mat-icon class="sest-m-2">link</mat-icon>
      <div>
        Link
      </div>
    </button>
    <mat-divider></mat-divider>
    <button mat-flat-button class="small-button" [disabled]="true">
      <mat-icon class="sest-m-2">play_circle_filled</mat-icon>
      <div>
        Iniciar
      </div>
    </button>
    <mat-divider></mat-divider>
    <button mat-flat-button class="small-button" [disabled]="true">
      <mat-icon class="sest-m-2">stop_circle</mat-icon>
      <div>
        Parar
      </div>
    </button>
  </div>
</mat-menu>

<mat-menu #menu="matMenu" class="importMenu">
  <div class="wrapper-menu">
    <button mat-flat-button (click)="openDialogImportSestWeb()" class="big-button">
      <i class="fas fa-layer-group sest-large-icon sest-m-2"></i>
      <div>
        Via Poço Web
      </div>
    </button>
    <mat-divider></mat-divider>
    <button mat-flat-button (click)="openDialogImportExternalFile()" class="big-button">
      <i class="fas fa-download sest-large-icon sest-m-2"></i>
      <div>
        Via Arquivo Externo
      </div>
    </button>
  </div>
</mat-menu>

<mat-menu #calculos="matMenu" class="calculosMenu">
  <div class="wrapper-menu">
    <button mat-flat-button (click)="openWindowCalculosPerfis()" class="big-button">
      <img src="assets/images/calculos/perfis.png" class="sest-large-icon sest-m-2">
      <div>
        Perfis
      </div>
    </button>
    <mat-divider></mat-divider>
    <button mat-flat-button (click)="openWindowCalculosSobrecarga()" class="big-button">
      <img src="assets/images/calculos/sobrecarga.png" class="sest-large-icon sest-m-2">
      <div>
        Sobrecarga
      </div>
    </button>
    <mat-divider></mat-divider>
    <button mat-flat-button (click)="openWindowPoroPressure()" class="big-button">
      <img src="assets/images/calculos/poros.png" class="sest-large-icon sest-m-2">
      <div>
        Pressão de Poros
      </div>
    </button>
  </div>
  <div class="wrapper-menu border-top">
    <button mat-flat-button (click)="openWindowCalculosMecanicos()" class="big-button">
      <img src="assets/images/calculos/mecanicas.png" class="sest-large-icon sest-m-2">
      <div>
        Propri. Mecânicas
      </div>
    </button>
    <mat-divider></mat-divider>
    <button mat-flat-button (click)="openWindowTensoesInsitu()" class="big-button">
      <img src="assets/images/calculos/tensoes.png" class="sest-large-icon sest-m-2">
      <div>
        Tensões in Situ
      </div>
    </button>
    <mat-divider></mat-divider>
    <button mat-flat-button (click)="openWindowGradientes()" class="big-button">
      <img src="assets/images/calculos/gradientes.png" class="sest-large-icon sest-m-2">
      <div>
        Gradientes
      </div>
    </button>
  </div>
</mat-menu>