<mat-card class="mat-elevation-z0">
    <mat-card-content fxLayoutAlign="center">
        <div class="sest-flex-column sest-align-center">
            <div *ngIf="nomePoco && todosPocos">{{nomePoco}}</div>
            <div class="sest-flex-row">
                {{perfil.nome}}
                <span
                    *ngIf="perfil && perfil.grupoDeUnidades && perfil.grupoDeUnidades['unidadePadrão'] && perfil.grupoDeUnidades['unidadePadrão']['símbolo']">
                    &nbsp; ({{perfil.grupoDeUnidades['unidadePadrão']['símbolo']}})
                </span>
            </div>
            <highcharts-chart class="chart-size" #canvas [Highcharts]="Highcharts" [options]="plotOptions">
            </highcharts-chart>
        </div>
    </mat-card-content>
</mat-card>