<div mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragBoundary=".mat-typography" cdkDragHandle
    class="sest-dialog-title sest-flex-row sest-m-0">
    <div class="sest-flex-0">
        <img src="assets/images/calculos/gradientes.png" width="30">
    </div>
    <div class="sest-flex-1 sest-mx-3">
        Resultado do Cálculo de Gradientes
    </div>
</div>

<mat-dialog-content class="page-gradient-calculation">
    <div class="sest-flex-row">
        <div class="sest-flex-column sest-flex-1 sest-mt-1 sest-mx-1">
            <div>
                O cálculo dos colapsos é feito a partir de metodologias iterativas de convergência.
            </div>
            <div class="sest-mt-2">
                O cálculo dos colapsos não convergiu nas seguintes profundidades:
            </div>

            <div class="sest-flex-row sest-small-border">
                <hot-table [options]="optionsParameters" [data]="datasetBase" [colHeaders]="colHeaders"
                    [columns]="columnsTypes"></hot-table>
            </div>
        </div>
    </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <div class="sest-flex-1 sest-px-1"></div>
    <button mat-stroked-button mat-dialog-close class="sest-light-gray" (click)="closeModal()">
        Fechar
    </button>
</mat-dialog-actions>