<mat-toolbar class="sest-breadcrumb-bottom">
  <mat-toolbar-row>

    <nav aria-label="breadcrumb">
      <ol class="mat-subheading-2">
        <li class="breadcrumb-item" (click)="jumpBackToLevel(0)">
            <mat-icon class="fa fa-folder"></mat-icon>
            <a>Unidades operacionais</a>
        </li>
        <li class="breadcrumb-item" *ngFor="let breadcrumb of breadcrumbs; let i = index" (click)="jumpBackToLevel(i+1)">
            <mat-icon [ngClass]="'fa ' + levelIcons[i]"></mat-icon>
            <a>{{breadcrumb}}</a>
        </li>
      </ol>
    </nav>
    
    <span fxFlex></span>

  </mat-toolbar-row>
</mat-toolbar>
