<div mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragBoundary=".mat-typography" cdkDragHandle
	class="sest-dialog-title sest-flex-row">
	<div class="sest-flex-0">
		<img src="assets/images/icons/correlacoes.png" width="32" height="27">
	</div>
	<div class="sest-flex-1 sest-mx-3">
		Correlações
	</div>
</div>

<mat-dialog-content class="page-edit-correlaction">

	<div class="sest-flex-row">
		<div class="sest-flex-column sest-flex-1 sest-mx-2">
			<div [ngClass]="{'sest-input-error': !nameValid()}" [matTooltip]="nameTooltip"
				class="sest-small-border sest-p-1 sest-my-2 sest-flex-1 sest-flex-column">
				<h3 class="sest-border-title">Nome:</h3>
				<input class="sest-border-0 sest-flex-1 sest-py-2 sest-px-1" [(ngModel)]="name">
			</div>
		</div>

		<div class="sest-flex-column sest-flex-2">
			<div [ngClass]="{'sest-input-error': descriptionTooltip !== ''}" [matTooltip]="descriptionTooltip"
				class="sest-small-border sest-p-1 sest-my-2 sest-flex-1 sest-flex-column">
				<h3 class="sest-border-title">Descrição:</h3>
				<input class="sest-border-0 sest-flex-1 sest-py-2 sest-px-1" (ngModelChange)="descriptionTooltip = ''"
					[(ngModel)]="description">
			</div>
		</div>

		<div class="sest-flex-column sest-flex-1 sest-mx-2">
			<div [ngClass]="{'sest-input-error': hasDifferentAuthor()}"
				[matTooltip]="hasDifferentAuthor() ? authorTooltip : ''"
				class="sest-small-border sest-p-1 sest-my-2 sest-flex-1 sest-flex-column">
				<h3 class="sest-border-title">Autor:</h3>
				<div class="sest-border-0 sest-flex-1 sest-py-2 sest-px-1 sest-light-opacity">
					{{ author }}
				</div>
			</div>
		</div>
	</div>

	<div class="sest-flex-row">
		<div [ngClass]="{'sest-input-error': !temPerfilDeSaida}"
			[matTooltip]="!temPerfilDeSaida? tooltipExitProfile : ''"
			class="sest-small-border sest-p-1 sest-my-2 sest-mx-2 sest-flex-column sest-w-fixed-174">
			<h3 class="sest-border-title">Perfil de Saída:</h3>
			<mat-select class="sest-px-1 sest-py-1" [(ngModel)]="perfilDeSaida" (selectionChange)="onChangeEquation()">
				<mat-option *ngFor="let el of listaMnemonicos" [value]="el">
					{{ el }}
				</mat-option>
			</mat-select>
		</div>

		<ng-template [ngIf]="specialProfile(perfilDeSaida)">
			<div class="sest-small-border sest-p-1 sest-my-2 sest-flex-1 sest-flex-column">
				<h3 class="sest-border-title">Grupo:</h3>
				<mat-select class="sest-px-1 sest-py-1" [(ngModel)]="lithoGroup">
					<mat-option>Selecione</mat-option>
					<mat-option *ngFor="let el of lithoGroups" [value]="el">
						{{el}}
					</mat-option>
				</mat-select>
			</div>
			<ng-template ngFor let-type [ngForOf]="especiais">
				<div *ngIf="perfilDeSaida !== type.mnemonico"
					class="sest-small-border sest-p-1 sest-my-2 sest-flex-1 sest-mx-2  sest-flex-column">
					<h3 class="sest-border-title">{{type.mnemonico}}:</h3>
					<mat-select class="sest-px-1 sest-py-1" [(ngModel)]="type.selected">
						<mat-option>Selecione</mat-option>
						<mat-option *ngFor="let el of type.correlacoes" [value]="el">
							{{el.nome}}
						</mat-option>
					</mat-select>
				</div>
			</ng-template>
		</ng-template>
	</div>

	<div class="sest-flex-row">
		<div class="sest-flex-column sest-flex-1 sest-mx-2">
			<div [ngClass]="{'sest-input-error': equationInvalidTooltip.length > 0}"
				[matTooltip]="equationInvalidTooltip"
				class="sest-small-border sest-p-1 sest-my-2 sest-flex-1 sest-flex-column">
				<h3 class="sest-border-title">Equação:</h3>
				<textarea #equationInput rows="10" [ngModel]="equation" (ngModelChange)="onChangeEquation()"
					class="sest-border-0 sest-flex-1 sest-py-2 sest-px-1"></textarea>
			</div>
		</div>
		<div class="sest-flex-column sest-flex-4">
			<app-data-summary [profiles]="profiles" [consts]="consts" [vars]="vars"></app-data-summary>
		</div>
	</div>

	<div class="sest-flex-row">
		<div class="sest-title-line sest-p-1 sest-my-2 sest-mx-2 sest-flex-1 sest-flex-column">
			<h3 class="sest-medium-title">Seleção de Entradas:</h3>
		</div>
	</div>

	<div class="sest-flex-row">
		<div class="sest-small-border sest-p-1 sest-my-2 sest-mx-2 sest-flex-1 sest-flex-column">
			<h3 class="sest-border-title">Perfil:</h3>
			<mat-select class="sest-px-1 sest-py-1" [(ngModel)]="perfilSelecionado">
				<mat-option *ngFor="let el of listaMnemonicos" [value]="el">
					{{ el }}
				</mat-option>
			</mat-select>
		</div>
		<div class="sest-flex-column">
			<button [disabled]="perfilSelecionado === undefined" class="sest-center color-green" mat-icon-button
				(click)="addProfileToEquation()">
				<mat-icon>control_point</mat-icon>
			</button>
		</div>
		<div class="sest-small-border sest-p-1 sest-my-2 sest-mx-2 sest-flex-1 sest-w-fixed-130 sest-flex-column">
			<h3 class="sest-border-title">Grupo Litológico:</h3>
			<mat-select class="sest-px-1 sest-py-1" [(ngModel)]="selectedLithoGroup">
				<mat-option *ngFor="let el of lithoGroupsList" [value]="el">
					{{ el }}
				</mat-option>
			</mat-select>
		</div>
		<div class="sest-flex-column">
			<button [disabled]="selectedLithoGroup === undefined" class="sest-center color-green" mat-icon-button
				(click)="addLithoGroupToEquation()">
				<mat-icon>control_point</mat-icon>
			</button>
		</div>
		<div class="sest-small-border sest-p-1 sest-my-2 sest-ml-2 sest-flex-column">
			<h3 class="sest-border-title">Constante:</h3>
			<input placeholder="Nome" class="sest-border-0 sest-w-max sest-py-2 sest-px-1" [(ngModel)]="constName">
		</div>
		<div class="sest-small-border sest-p-1 sest-my-2 sest-mx-2 sest-flex-column">
			<h3 class="sest-space-title">&nbsp;</h3>
			<input placeholder="Valor" type="number"
				class="sest-border-0 sest-w-max sest-py-2 sest-px-1  sest-w-fixed-70" [(ngModel)]="constValue">
		</div>
		<div class="sest-flex-column">
			<button [disabled]="constName === undefined || constValue === undefined" class="sest-center color-green"
				mat-icon-button (click)="addConstToEquation()">
				<mat-icon>control_point</mat-icon>
			</button>
		</div>
		<div class="sest-small-border sest-p-1 sest-my-2 sest-ml-2 sest-flex-column">
			<h3 class="sest-border-title">Variável:</h3>
			<input placeholder="Nome" class="sest-border-0 sest-w-max sest-py-2 sest-px-1" [(ngModel)]="varName">
		</div>
		<div class="sest-small-border sest-p-1 sest-my-2 sest-mx-2 sest-flex-column">
			<h3 class="sest-space-title">&nbsp;</h3>
			<input placeholder="Valor" type="number"
				class="sest-border-0 sest-w-max sest-py-2 sest-px-1  sest-w-fixed-70" [(ngModel)]="varValue">
		</div>
		<div class="sest-flex-column">
			<button [disabled]="varName === undefined || varValue === undefined" class="sest-center color-green"
				mat-icon-button (click)="addVarToEquation()">
				<mat-icon>control_point</mat-icon>
			</button>
		</div>
	</div>

	<div class="sest-flex-row">
		<div class="sest-flex-column sest-flex-4 sest-w-100">
			<div class="sest-flex-row" *ngFor="let obj of angleFunctions">
				<button *ngFor="let el of obj" mat-stroked-button [matTooltip]="formatTooltip(el)"
					class="sest-w-100 sest-w-fixed-78 sest-bg-gray sest-light-gray sest-m-1"
					(click)="addClickedFunction(el)">
					{{ el }}
				</button>
			</div>
			<div class="sest-flex-row">
				<button *ngFor="let el of powFunctions" mat-stroked-button [matTooltip]="formatTooltip(el)"
					class="sest-w-100 sest-w-fixed-78 sest-bg-gray sest-light-gray sest-m-1"
					(click)="addClickedFunction(el)">
					{{ el }}
				</button>
			</div>
			<div class="sest-flex-row">
				<button mat-stroked-button [matTooltip]="formatTooltip('a^x')"
					class="sest-w-100 sest-w-fixed-78 sest-bg-gray sest-w-fixed-78 sest-light-gray sest-m-1"
					(click)="addPowFunction()">
					a^x
				</button>
				<button *ngFor="let el of othFunctions" mat-stroked-button [matTooltip]="formatTooltip(el)"
					class="sest-w-100 sest-w-fixed-78 sest-bg-gray sest-light-gray sest-m-1"
					(click)="addClickedFunction(el)">
					{{ el }}
				</button>
			</div>
		</div>
		<div class="sest-flex-column sest-flex-4 sest-w-100">
			<div class="sest-flex-row" *ngFor="let obj of logicalOperations">
				<button *ngFor="let el of obj" mat-stroked-button [matTooltip]="formatTooltip(el)"
					class="sest-w-100 sest-w-fixed-78 sest-bg-gray sest-light-gray sest-m-1"
					(click)="addToEquation(el)">
					{{ el }}
				</button>
			</div>
			<div class="sest-flex-1 sest-px-1"></div>
			<div class="sest-flex-row">
				<div class="sest-flex-column sest-flex-2 sest-m-1">
					<button mat-stroked-button [matTooltip]="formatTooltip('?:')" (click)="addIfFunction()"
						class="sest-w-100 sest-w-fixed-174 sest-bg-gray sest-light-gray">
						?:
					</button>
				</div>
			</div>

		</div>
		<div class="sest-flex-column sest-flex-4 sest-w-100">
			<div class="sest-flex-row" *ngFor="let obj of basicOperations">
				<button *ngFor="let el of obj" mat-stroked-button [matTooltip]="formatTooltip(el)"
					class="sest-w-100 sest-w-fixed-78 sest-bg-gray sest-light-gray sest-m-1"
					(click)="addToEquation(el)">
					{{ el }}
				</button>
			</div>
		</div>
	</div>

</mat-dialog-content>

<mat-dialog-actions class="sest-mx-2" align="end">
	<button mat-stroked-button mat-dialog-close class="sest-light-gray" (click)="onNoClick()">
		Cancelar
	</button>
	<div class="sest-flex-1 sest-px-1"></div>
	<button mat-stroked-button color="primary" (click)="saveLocal()" [disabled]="!canSave()">
		Salvar nesse Caso
	</button>
	<button mat-stroked-button color="primary" (click)="saveGlobal()" [disabled]="!canSave()">
		Publicar Globalmente
	</button>
</mat-dialog-actions>