<mat-card-header fxLayoutAlign="space-evenly center" class="graph-header-height">
  <sest-canvas-menu *ngIf="caseId === dataset.currCaseId" [defaultXScale]="defaultXScale" [logScale]="logScale"
    [title]="chart.name" [csv]="csv" [hasCurve]="profilesList.length > 0 || registersEventsList.length > 0"
    (removeChart)="openDialogRemoveChart()" (changeWidth)="openDialogEditWidth()" (exportChart)="exportChart($event)"
    (changeXScale)="openDialogChangeXScale()" (setDefaultXScale)="updateXScale(true)" (changeScale)="changeScale()"
    (editChartName)="openDialogEditName()">
  </sest-canvas-menu>
  <mat-card-title>{{ chart.name === '' && this.profilesList[0] !== undefined ? this.profilesList[0].nome : chart.name }}
    <span *ngIf="unidadePadrao && unidadePadrao !== '-'"> ({{unidadePadrao}})</span>
  </mat-card-title>

</mat-card-header>

<mat-card-content fxLayoutAlign="center" (mousemove)="synchronize($event)" (touchmove)="synchronize($event)"
  (touchstart)="synchronize($event)" (mouseleave)="sync.onMouseOutCrossline($event)"
  (contextmenu)="onContextMenu($event)">
  <highcharts-chart #canvas mwlDroppable dragOverClass="drop-over-active" [Highcharts]="Highcharts"
    [options]="plotOptions" (drop)="onDropCurve($event)" (mouseleave)="sync.onMouseOut($event)"
    (chartInstance)="onLoad($event)"></highcharts-chart>

  <button mat-icon-button *ngIf="(hasAddedTrend || hasGPPI) && !editChart && canEditChart" (click)="toggleEditChart()"
    [disabled]="clicked" class="button-edit" matTooltip="Ativar edição">
    <mat-icon>touch_app</mat-icon>
  </button>

  <button mat-icon-button *ngIf="(hasAddedTrend || hasGPPI) && editChart && canEditChart" (click)="toggleEditChart()"
    [disabled]="clicked" class="button-edit" matTooltip="Desativar edição">
    <mat-icon>do_not_disturb</mat-icon>
  </button>

  <button mat-icon-button *ngIf="(hasAddedTrend || hasGPPI) && canEditChart" (click)="openHowToDialog()"
    [disabled]="clicked" class="button-tooltip"
    [matTooltip]="hasGPPI ? 'Como editar um GPPI?' : trendOrLBF === 'LBF'? 'Como editar a LBF?' : 'Como editar o Trend?'">
    <mat-icon>info</mat-icon>
  </button>
</mat-card-content>

<div style="visibility: hidden; position: fixed" [style.left]="contextMenuPosition.x"
  [style.top]="contextMenuPosition.y" [matMenuTriggerFor]="contextMenu">
</div>

<mat-menu #contextMenu="matMenu">
  <ng-template matMenuContent let-item="node">
    <ng-container *ngFor="let el of profilesList; let last = last;">
      <button mat-menu-item [mat-menu-trigger-for]="perfisOptions">
        {{ el.nome }} ({{el.grupoDeUnidades["unidadePadrão"]["símbolo"]}})
      </button>
      <mat-menu #perfisOptions="matMenu">
        <button mat-menu-item (click)="changeToTop(el)" [disabled]="last || caseId !== dataset.currCaseId">
          Trazer para frente
        </button>
        <button mat-menu-item (click)="openWindowEditProfile(el)" [disabled]="caseId !== dataset.currCaseId">
          <mat-icon fontSet="far" fontIcon="fa-edit"></mat-icon>Editar
        </button>
        <button mat-menu-item [mat-menu-trigger-for]="trendOptions" *ngIf="hasAddedTrend && el.id === hasAddedTrend">
          {{ el.trend.tipoTrend === 'LBF'? 'LBF' : 'Trend'}}
        </button>
        <button mat-menu-item (click)="removeCurve(el.id)" [disabled]="caseId !== dataset.currCaseId">
          <mat-icon>delete</mat-icon>
          Remover
        </button>
        <mat-menu #trendOptions="matMenu">
          <button mat-menu-item (click)="openDialogEditTrend(el)" *ngIf="canEditChart"
            [disabled]="caseId !== dataset.currCaseId">
            <mat-icon fontSet="far" fontIcon="fa-edit"></mat-icon>Editar
          </button>
          <button mat-menu-item (click)="removeTrend()" [disabled]="caseId !== dataset.currCaseId">
            <mat-icon>delete</mat-icon>
            Remover
          </button>
        </mat-menu>
      </mat-menu>
    </ng-container>
    <ng-container *ngIf="registersEventsList.length > 0">
      <button mat-menu-item [mat-menu-trigger-for]="registrosEventosOptions">
        Registros e Eventos
      </button>
      <mat-menu #registrosEventosOptions="matMenu">
        <ng-container *ngFor="let el of registersEventsList; let i = index;">
          <button mat-menu-item (click)="removeCurve(el.id)" [disabled]="caseId !== dataset.currCaseId">
            <mat-icon>delete</mat-icon> {{ el.nome }}
          </button>
        </ng-container>
      </mat-menu>
    </ng-container>
    <button mat-menu-item (click)="removeAllCurves()"
      [disabled]="((profilesList === undefined || profilesList.length < 1) && (registersEventsList.length < 1)) || caseId !== dataset.currCaseId">
      <mat-icon>delete</mat-icon>
      <span>Remover tudo</span>
    </button>
    <button mat-menu-item (click)="openWindowLegend()"
      [disabled]="((profilesList === undefined || profilesList.length < 1) && (registersEventsList.length < 1))  || caseId !== dataset.currCaseId">
      <mat-icon class="fas fa-shapes"></mat-icon>
      <span>Legendas do gráfico</span>
    </button>
    <button mat-menu-item (click)="resetZoom()">
      <mat-icon>search</mat-icon>
      <span>Restaurar Zoom</span>
    </button>
  </ng-template>
</mat-menu>