<div fxFlex fxLayout="column" fxLayoutGap="10px" class="sest-explorer">
  <mat-toolbar class="sest-breadcrumb">
    <mat-toolbar-row>
      <create-menu [depth]="navStack.length"></create-menu>
      <div class="explorer-options" *ngIf="selectedItem">
        <button mat-button color="warn" (click)="openItem(selectedItem, navStack.length+1)">
          <mat-icon fontSet="fas" fontIcon="fa-folder-open"></mat-icon> &nbsp; Abrir
        </button>
        <button mat-button color="warn" (click)="dialog.openDialogDuplicate(navStack.length, selectedItem)"
          *ngIf="navStack.length === 3">
          <mat-icon fontSet="fa" fontIcon="fa-copy"></mat-icon> Duplicar &nbsp;
        </button>
        <button mat-button color="warn" (click)="dialog.openDialogMove(navStack.length, selectedItem)"
          *ngIf="navStack.length === 3">
          <mat-icon fontSet="fa" fontIcon="fa-file-export"></mat-icon> Mover &nbsp;
        </button>
        <button mat-button color="warn" (click)="dialog.openDialogRename(navStack.length, selectedItem)"
          *ngIf="navStack.length === 3">
          <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon> Renomear &nbsp;
        </button>
        <button mat-button color="warn" (click)="dialog.openDialogDelete(navStack.length, selectedItem)"
          *ngIf="navStack.length === 3">
          <mat-icon fontSet="fas" fontIcon="fa-trash-alt"></mat-icon> Deletar &nbsp;
        </button>
      </div>
      <span fxFlex></span>
    </mat-toolbar-row>
  </mat-toolbar>
  <app-breadcrumb></app-breadcrumb>

  <div fxLayout="row wrap" class="sest-explorer__files">
    <div *ngIf="search.loadingSearchResultTree" class="spinner">
      <div class="rect1"></div>
      <div class="rect2"></div>
      <div class="rect3"></div>
      <div class="rect4"></div>
      <div class="rect5"></div>
    </div>
    <div *ngIf="!search.loadingSearchResultTree" fxLayout="row wrap" class="sest-explorer__files">
      <a *ngFor="let item of explorerData.currentView; let i = index">
        <mat-card class="file-box mat-elevation-z0" [class.active]="selectedItem && item === selectedItem"
          [ngClass]="{'Projeto': item.type === 'sesttr.project', 'Monitoramento': item.type === 'sesttr.monitoring', 'Retroanalise': item.type === 'sesttr.retroanalysis'} "
          (dblclick)="openItem(item, navStack.length+1)" (click)="selectItem(item)">
          <mat-card-content>
            <p>
              <mat-icon [class.fas]="item.children && item.children.length || navStack.length === 3"
                [class.far]="!(item.children && item.children.length) && navStack.length !== 3"
                [class.fa-folder]="navStack.length !== 3" [class.fa-file-alt]="navStack.length === 3"></mat-icon>
            </p>
            <p class="card-label">{{item.name}}</p>
          </mat-card-content>
        </mat-card>
      </a>
    </div>
  </div>
</div>