<div mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragBoundary=".mat-typography" cdkDragHandle
    class="sest-dialog-title sest-flex-row">
    <div class="sest-flex-0">
        <img src="assets/images/calculos/gradientes.png" width="30">
    </div>
    <div class="sest-flex-1 sest-mx-3">
        Cálculo para trecho específico
    </div>
</div>

<mat-dialog-content class="page-gradient-calculation">

    <div class="sest-flex-row">
        <div class="sest-flex-column sest-flex-1 sest-mt-2 sest-mx-1">

            <div class="sest-flex-row">
                <hot-table #tableBase [options]="optionsParameters" [data]="datasetBase"
                [colHeaders]="colHeaders" [columns]="columnsTypes"></hot-table>
            </div>

        </div>
    </div>

</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-stroked-button mat-dialog-close class="sest-light-gray" (click)="closeModal()">
        Fechar
    </button>
    <div class="sest-flex-1 sest-px-1"></div>
    <button mat-stroked-button color="primary" (click)="submit()" [disabled]="!isValid">
        Ok
    </button>
</mat-dialog-actions>
