<div mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragBoundary=".mat-typography" cdkDragHandle
    class="sest-dialog-title sest-flex-row">
    <div class="sest-flex-0">
        <img src="assets/images/icons/correlacoes.png" width="32" height="27">
    </div>
    <div class="sest-flex-1 sest-mx-3">
        Correlações
    </div>
</div>

<mat-dialog-content class="page-select-correlaction">
    <mat-tab-group fxFlexFill>
        <mat-tab *ngFor="let tab of tabs" [label]="tab.name" fxFlexFill>
            <div class="sest-flex-column sest-small-border sest-p-1 sest-mb-3">
                <div *ngIf="tab.hasFilter" class="sest-small-border sest-p-1 sest-my-3 sest-flex-1 sest-flex-column">
                    <h3 class="sest-border-title">Selecione um grupo:</h3>
                    <mat-select class="sest-px-1 sest-py-1" (selectionChange)="applyFilter($event.value, tab)"
                        [(ngModel)]="selectedGroup">
                        <mat-option *ngFor="let group of groupsPropMec" [value]="group">
                            {{group['descrição']}}
                        </mat-option>
                    </mat-select>
                </div>

                <table mat-table [dataSource]="tab.data" class="mat-elevation-z0">
                    <!-- Checkbox Column -->
                    <ng-container matColumnDef="select">
                        <th mat-header-cell *matHeaderCellDef> </th>
                        <td mat-cell *matCellDef="let element">
                            <mat-radio-group [(ngModel)]="selectedCorrelaction"
                                aria-labelledby="example-radio-group-label" class="example-radio-group">
                                <mat-radio-button class="example-radio-button" [value]="element">
                                </mat-radio-button>
                            </mat-radio-group>
                        </td>
                    </ng-container>

                    <!-- Tipo Column -->
                    <ng-container matColumnDef="type">
                        <th mat-header-cell *matHeaderCellDef> <b>Tipo</b> </th>
                        <td mat-cell *matCellDef="let element"> {{element['perfilSaída']}} </td>
                    </ng-container>

                    <!-- Nome Column -->
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef> <b>Nome</b> </th>
                        <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
                    </ng-container>

                    <!-- Origem Column -->
                    <ng-container matColumnDef="origem">
                        <th mat-header-cell *matHeaderCellDef> <b>Origem</b> </th>
                        <td mat-cell *matCellDef="let element">
                            <mat-icon class="sest-small-icon sest-pr-1 sest-vertical-align">
                                {{ element.chaveAutor === 'GTEP' ? 'computer' : 'person' }}
                            </mat-icon>{{element.chaveAutor}}
                            <mat-icon *ngIf="element.origem === 'Poço'" matTooltip="Apenas visível no caso atual"
                                class="sest-small-icon sest-pl-1 sest-vertical-align sest-project-color">
                                vpn_lock
                            </mat-icon>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>
        </mat-tab>
    </mat-tab-group>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-stroked-button mat-dialog-close class="sest-light-gray" (click)="onNoClick()">
        Fechar
    </button>
    <div class="sest-flex-1 sest-px-1"></div>
    <button mat-stroked-button color="primary"
        [disabled]="selectedCorrelaction === undefined || selectedCorrelaction.origem !== 'Poço' || selectedCorrelaction.chaveAutor !== chaveUsuarioLogado"
        (click)="openDialogRemoveCorrelation()">
        Apagar
    </button>
    <button *ngIf="selectedCorrelaction !== undefined && selectedCorrelaction.origem === 'Poço'" mat-stroked-button
        color="primary" (click)="publishCorrelation()">
        Publicar
    </button>
    <button mat-stroked-button color="primary" [disabled]="selectedCorrelaction === undefined"
        (click)="openWindowEditCorrelaction()">
        Editar
    </button>
    <button mat-stroked-button color="primary" (click)="openWindowCreateCorrelaction()">
        Criar
    </button>
</mat-dialog-actions>