<div mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragBoundary=".mat-typography" cdkDragHandle
    class="sest-dialog-title sest-flex-row">
    <div class="sest-flex-0">
        <mat-icon class="sest-auto-size sest-center-vertical" fontSet="fas" fontIcon="fa-trash-alt"></mat-icon>
    </div>
    <div class="sest-flex-1 sest-mx-2">
        Confirmar exclusão:
    </div>
</div>

<mat-dialog-content>
    Deseja remover o item selecionado?
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-stroked-button mat-dialog-close (click)="onNoClick()">
        Cancelar
    </button>
    <div class="sest-flex-1 sest-px-1"></div>
    <button (click)="submit()" mat-stroked-button class="sest-color-danger" type="submit">
        Sim
    </button>
</mat-dialog-actions>