<mat-toolbar class="sest-statusbar">
  <div class="statusbar-content" fxFlexFill>
    <span class="sest-center">
      <mat-icon>search</mat-icon>
      Zoom:
      <input type="number" step="any" [(ngModel)]="actualMin">
      <span>a</span>
      <input matInput type="number" step="any" [(ngModel)]="actualMax">
      <button mat-stroked-button (click)="setZoom()">Ok</button>
      <button mat-stroked-button (click)="resetZoom()">Restaurar</button>
    </span>

    <mat-divider [vertical]="true"></mat-divider>

    <ng-container *ngIf="cursorInfo">
      <span *ngIf="cursorInfo.isBaseChart">
        <span>
          <mat-icon fontSet="far" fontIcon="fa-eye" class="sest-auto-size sest-mr-1"></mat-icon>
          {{stateService.currentDeepView}} = {{cursorInfo.y}}
        </span>
      </span>
      <span fxFlex>
        <ng-container *ngFor="let graph of cursorInfo.graphs">
          <span *ngIf="cursorInfo.isBaseChart && graph.title && graph.x !== undefined">
            <mat-icon fontSet="far" fontIcon="fa-file" class="sest-auto-size sest-mr-1"></mat-icon>
            {{graph.title}} = {{graph.x}}
            {{cursorInfo.unidade}}
          </span>
        </ng-container>
      </span>
      <span *ngIf="!hidden">
        <mat-icon fontSet="fas" fontIcon="fa-circle" class="sest-color-red"></mat-icon>
        offline
      </span>
      <span *ngIf="hidden">
        <mat-icon fontSet="fas" fontIcon="fa-circle" class="sest-color-green"></mat-icon>
        online
      </span>
    </ng-container>
  </div>
</mat-toolbar>