<ng-template mat-tab-label *ngIf="(stateService.currentTab$ | async) as tab">
  <span>{{ tab.name }}</span>
  <i *ngIf="caseId === dataset.currCaseId" class="material-icons" (click)="removeTab()">
    close
  </i>
</ng-template>
<div fxLayout="column" *ngIf="(stateService.currentTab$ | async) as tab" fxFlexFill>
  <div fxLayout="row" fxFlex="nogrow noshrink" class="sest-graph-content-wrapper">
    <div class="sest-graph-content" cdkDropList cdkDropListOrientation="horizontal" (cdkDropListDropped)="drop($event)"
      fxLayoutGap="10px" fxFlexFill side-scroll-directive>

      <mat-card cdkDrag *ngFor="let chart of (stateService.currentCharts$ | async); trackBy: chartsTrackFn"
        class="graph-item mat-elevation-z0" fxFlex="16" [ngStyle]="{'min-width.px': chart.largura * 220}"
        [cdkDragDisabled]="caseId !== dataset.currCaseId">
        <a type="button" class="button-right" cdkDragHandle>
          <mat-icon> swap_horiz </mat-icon>
        </a>
        <sest-graphic-canvas [caseId]="caseId" [tabId]="tab.id" [chartId]="chart.id" class="sest-graphic-canvas">
        </sest-graphic-canvas>
      </mat-card>
      <button *ngIf="caseId === dataset.currCaseId" (click)="addCanvasInstance()" class="btn-addInstance"
        matTooltip="Nova Área" matTooltipPosition="left">
        <mat-icon class="mat-icon" fontSet="fas" fontIcon="fa-plus"></mat-icon>
      </button>
    </div>
  </div>
</div>