<div class="sest-flex-row">
    <div class="sest-small-border sest-p-1 sest-my-2 sest-flex-1 sest-flex-column"
        [ngClass]="{'sest-input-error': nome.tooltip.length > 0 }" [matTooltip]="nome.tooltip"
        matTooltipClass="background-red">
        <h3 class="sest-border-title">Perfil:</h3>
        <input class="sest-border-0 sest-py-1 sest-px-1 sest-w-100" [(ngModel)]="nome.value">
    </div>
</div>
<div class="sest-flex-row">
    <div class="sest-small-border sest-p-1 sest-my-2 sest-flex-1 sest-flex-column"
        [ngClass]="{'sest-input-error': descricao.tooltip.length > 0 }" [matTooltip]="descricao.tooltip"
        matTooltipClass="background-red">
        <h3 class="sest-border-title">Descrição:</h3>
        <input class="sest-border-0 sest-py-1 sest-px-1 sest-w-100" [(ngModel)]="descricao.value">
    </div>
</div>
<div class="sest-flex-row">
    <div class="sest-small-border sest-p-1 sest-my-2 sest-flex-1 sest-flex-column"
        [ngClass]="{'sest-input-error': mnemonico.tooltip.length > 0 }" [matTooltip]="mnemonico.tooltip"
        matTooltipClass="background-red">
        <h3 class="sest-border-title">Tipo:</h3>
        <input class="sest-border-0 sest-py-1 sest-px-1 sest-w-100 input-disable-style" disabled
            [(ngModel)]="mnemonico.value">
    </div>
</div>
<div class="sest-flex-row">
    <div class="sest-small-border sest-p-1 sest-my-2 sest-flex-1 sest-flex-column"
        [ngClass]="{'sest-input-error': unidade.tooltip.length > 0 }" [matTooltip]="unidade.tooltip"
        matTooltipClass="background-red">
        <h3 class="sest-border-title">Unidade:</h3>
        <input class="sest-border-0 sest-py-1 sest-px-1 sest-w-100 input-disable-style" disabled
            [(ngModel)]="unidade.value">
    </div>
</div>
<div class="sest-flex-row">
    <div class="sest-pt-1 sest-title-line sest-mt-2 sest-flex-1 sest-flex-column">
        <h3 class="sest-medium-title">Exibição:</h3>
    </div>
</div>
<div class="sest-flex-row">
    <div class="sest-small-border sest-p-1 sest-my-2 sest-flex-1 sest-flex-column">
        <h3 class="sest-border-title">Cor da linha:</h3>
        <input [style.background]="corLinha.value" [(colorPicker)]="corLinha.value" [cpOutputFormat]="'hex'"
            [cpPresetColors]="['#2889e9', '#ff0000', '#EBC934', '#187BC7', '#FF20A6', '#187BC7', '#ff6600', '#000000', '#000b9e', '#9C5821', '#D65A31', '#0DABD9', '#41d141', '#ff55ff', '#b1ffff', '#ffdd2c', '#0b9090', '#448ccb' ]"
            [cpCancelButton]="true" [cpDisableInput]="true" [cpAddColorButton]="false" [cpOKButton]="true"
            [cpAddColorButtonText]="'Salvar cor'" [cpCancelButtonText]="'Cancelar'" [cpOKButtonText]="'Aplicar'"
            [cpPresetLabel]="'Tabela de Cores:'" />
    </div>
</div>
<div class="sest-flex-row">
    <div class="sest-small-border sest-p-1 sest-my-2 sest-flex-1 sest-flex-column">
        <h3 class="sest-border-title">Espessura:</h3>
        <mat-select class="sest-px-1 mat-test {{espessura.value}}" [(ngModel)]="espessura.value">
            <mat-option>Selecione</mat-option>
            <mat-option *ngFor="let el of espessuras" [value]="el.name">
                {{el.id}}
                <img class="option-img" [src]="el.avatar" height="25">
            </mat-option>
        </mat-select>
    </div>
</div>
<div class="sest-flex-row">
    <div class="sest-small-border sest-p-1 sest-my-2 sest-flex-1 sest-flex-column">
        <h3 class="sest-border-title">Estilo:</h3>
        <mat-select class="sest-px-1 {{estilo.value}}" [(ngModel)]="estilo.value">
            <mat-option>Selecione</mat-option>
            <mat-option *ngFor="let el of estilos" [value]="el.name">
                {{el.name}}
                <img class="option-img" [src]="el.avatar" height="25">
            </mat-option>
        </mat-select>
    </div>
</div>
<div class="sest-flex-row">
    <div class="sest-small-border sest-p-1 sest-my-2 sest-flex-1 sest-flex-column">
        <h3 class="sest-border-title">Marcador:</h3>
        <mat-select class="sest-px-1 {{marcador.value}}" [(ngModel)]="marcador.value">
            <mat-option *ngFor="let el of marcadores" [value]="el.value">
                {{el.name}}
                <img class="option-img" [src]="el.avatar" height="25">
            </mat-option>
        </mat-select>
    </div>
</div>
<div class="sest-flex-row">
    <div class="sest-small-border sest-p-1 sest-my-2 sest-flex-1 sest-flex-column">
        <h3 class="sest-border-title">Cor do marcador:</h3>
        <input [style.background]="corMarcador.value" [(colorPicker)]="corMarcador.value" [cpOutputFormat]="'hex'"
            [cpPresetColors]="['#2889e9', '#ff0000', '#EBC934', '#187BC7', '#FF20A6', '#187BC7', '#ff6600', '#000000', '#000b9e', '#9C5821', '#D65A31', '#0DABD9', '#41d141', '#ff55ff', '#b1ffff', '#ffdd2c', '#0b9090', '#448ccb' ]"
            [cpCancelButton]="true" [cpDisableInput]="true" [cpAddColorButton]="false" [cpOKButton]="true"
            [cpAddColorButtonText]="'Salvar cor'" [cpCancelButtonText]="'Cancelar'" [cpOKButtonText]="'Aplicar'"
            [cpPresetLabel]="'Tabela de Cores:'" />
    </div>
</div>