<div mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragBoundary=".mat-typography" cdkDragHandle
    class="sest-dialog-title sest-flex-row">
    <div class="sest-flex-0">
        <mat-icon class="sest-large-icon">link</mat-icon>
    </div>
    <div class="sest-flex-1 sest-mx-3">
        Link com dados em tempo real
    </div>
</div>

<mat-dialog-content class="page-filter">
    <div class="sest-flex-row">
        <div class="sest-flex-column sest-flex-2 sest-small-border sest-mt-1 sest-p-1 sest-mb-2 sest-flex-item-equal">
            <h3 class="sest-border-title">Dados Witsml:</h3>
            <div class="sest-flex-row">
                <div class="sest-small-border sest-p-1 sest-mt-2 sest-mx-1 sest-mb-3 sest-flex-1 sest-flex-column">
                    <h3 class="sest-border-title">Poço:</h3>
                    <mat-select class="sest-px-1 sest-py-1 sest-w-100" [(ngModel)]="pocoSelecionado">
                        <mat-option *ngFor="let el of tipoPocos" [value]="el">
                            {{el.label}}
                        </mat-option>
                    </mat-select>
                </div>
            </div>
            <div class="sest-flex-row">
                <div class="sest-small-border sest-p-1 sest-mt-1 sest-mx-1 sest-mb-3 sest-flex-1 sest-flex-column">
                    <h3 class="sest-border-title">Cabeça de poço:</h3>
                    <mat-select class="sest-px-1 sest-py-1 sest-w-100" [(ngModel)]="cabecaPocoSelecionado">
                        <mat-option *ngFor="let el of tipoCabeca" [value]="el">
                            {{el.label}}
                        </mat-option>
                    </mat-select>
                </div>
            </div>
            <div class="sest-flex-row">
                <div class="sest-small-border sest-p-1 sest-mt-2 sest-mx-1 sest-mb-3 sest-flex-1 sest-flex-column">
                    <h3 class="sest-border-title">Pasta de perfis:</h3>
                    <mat-select class="sest-px-1 sest-py-1 sest-w-100" [(ngModel)]="pastaPerfisSelecionado">
                        <mat-option *ngFor="let el of tipoPastaPerfis" [value]="el">
                            {{el.label}}
                        </mat-option>
                    </mat-select>
                </div>
            </div>
            <div class="sest-flex-row">
                <div class="sest-small-border sest-p-1 sest-mt-1 sest-mx-1 sest-mb-3 sest-flex-1 sest-flex-column">
                    <h3 class="sest-border-title">Perfis:</h3>
                    <mat-select class="sest-px-1 sest-py-1 sest-w-100" [(ngModel)]="perfisSelecionado" (selectionChange)="updateScreenInfo($event.value)">
                        <mat-option *ngFor="let el of tipoPerfis" [value]="el">
                            {{el.label}}
                        </mat-option>
                    </mat-select>
                </div>
            </div>
            <div class="sest-flex-row">
                <div class="sest-small-border sest-p-1 sest-mt-1 sest-mx-1 sest-mb-3 sest-flex-1 sest-flex-column">
                    <h3 class="sest-border-title">Referências:</h3>
                    <mat-select class="sest-px-1 sest-py-1 sest-w-100" [(ngModel)]="referenciasSelecionado">
                        <mat-option *ngFor="let el of tipoReferencias" [value]="el">
                            {{el.label}}
                        </mat-option>
                    </mat-select>
                </div>
            </div>
            <div class="sest-flex-row">
                <div class="sest-flex-column sest-flex-2 sest-small-border sest-mt-1 sest-p-1 sest-mb-2 sest-flex-item-equal">
                    <h3 class="sest-border-title">Informações da curva:</h3>
                    <div class="sest-flex-row">
                        <div class="sest-flex-column sest-flex-1 adjust-max">
                            <p>&#8226; Nome: <span class="adjust-span">{{nomeCurva}} </span> </p>
                        </div>
                    </div>
                    <div class="sest-flex-row">
                        <div class="sest-flex-column sest-flex-1 adjust-max">
                            <p>&#8226; Unidade: <span class="adjust-span">{{unidadeCurva}} </span> </p>
                        </div>
                        <div class="sest-flex-column sest-flex-1">
                            <p>&#8226; Status: <span class="adjust-span">{{statusCurva}} </span> </p>
                        </div>
                    </div>
                    <div class="sest-flex-row">
                        <div class="sest-flex-column sest-flex-1 adjust-max">
                            <p>&#8226; Valor min: <span class="adjust-span">{{valorMin}} </span> </p>
                        </div>
                        <div class="sest-flex-column sest-flex-1">
                            <p>&#8226; Valor max: <span class="adjust-span">{{valorMax}} </span> </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sest-flex-column sest-flex-2 sest-small-border sest-mt-1 sest-mx-2 sest-p-1 sest-mb-2 sest-flex-item-equal">
            <h3 class="sest-border-title">Informações do perfil:</h3>
            <div class="sest-flex-row">
                <div class="sest-small-border sest-p-1 sest-mt-2 sest-mx-1 sest-mb-3 sest-flex-1 sest-flex-column">
                    <h3 class="sest-border-title">Nome:</h3>
                    <input class="sest-border-0 sest-py-2 sest-px-1 sest-w-100" [(ngModel)]="nomePerfil.value">
                </div>
            </div>
            <div class="sest-flex-row">
                <div class="sest-small-border sest-p-1 sest-mt-1 sest-mx-1 sest-mb-3 sest-flex-1 sest-flex-column">
                    <h3 class="sest-border-title">Descrição:</h3>
                    <input class="sest-border-0 sest-py-2 sest-px-1 sest-w-100" [(ngModel)]="descricaoPerfil.value">
                </div>
            </div>
            <div class="sest-flex-row">
                <div class="sest-flex-column sest-flex-2 sest-small-border sest-mt-1 sest-p-1 sest-mb-2 sest-flex-item-equal">
                    <h3 class="sest-border-title">Tipos de perfil:</h3>
                    <mat-selection-list #perfis>
                        <mat-list-option *ngFor="let el of tipoPerfis" [value]="el.value">
                            {{el.value}}
                        </mat-list-option>
                    </mat-selection-list>
                </div> 
            </div>
            <div class="sest-flex-row sest-mt-2">
                <button (click)="addLine()" mat-stroked-button color="primary" class="sest-w-100 sest-mr-1">
                    <div class="sest-flex-column sest-center sest-mt-1">
                        <mat-icon class="sest-center">add_circle</mat-icon>
                        Adicionar
                    </div>
                </button>
                <button (click)="removeLine()" mat-stroked-button class="sest-w-100 sest-ml-1"
                    [ngClass]="{ 'color-dark-red': lineSelected.length > 0 }" [disabled]="lineSelected.length === 0">
                    <div class="sest-flex-column sest-center sest-mt-1">
                        <mat-icon class="sest-center">cancel</mat-icon>
                        Remover
                    </div>
                </button>
            </div>
        </div>
        <div class="sest-flex-column sest-flex-2 sest-small-border sest-mt-1 sest-p-1 sest-mb-2 sest-flex-item-equal max-width">
            <h3 class="sest-border-title">Perfis conectados:</h3>
            <hot-table #table [options]="baseOptions" [data]="baseDataset" [colHeaders]="baseColHeaders"
                                [columns]="baseColumnsTypes"></hot-table>
        </div>
    </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-stroked-button mat-dialog-close class="sest-light-gray" (click)="closeModal()">
        Fechar
    </button>
    <div class="sest-flex-1 sest-px-1"></div>
    <button mat-stroked-button color="primary" (click)="submit()">
        Salvar
    </button>
</mat-dialog-actions>